{% doc %}
    This snippet is used to render a pagination component for paginated collections.

    @param {object} paginate - The paginate object from the parent template (required)
    @param {string} anchor - An optional anchor tag to append to pagination URLs

    The component includes: - Previous/Next navigation buttons with chevron
    icons - Numbered page links - Current page indicator with underline -
    Responsive layout with centered alignment - ARIA labels for accessibility

    @example
    {%- render 'component.pagination',
        paginate: paginate,
        anchor: '#products'
    -%}
{% enddoc %}

{%- if paginate.parts.size > 0 -%}
    <nav
        role="navigation"
        aria-label="{{ 'general.pagination.label' | t }}"
    >
        <ul
            class="flex justify-center space-x-1"
            role="list"
        >
            {%- if paginate.previous -%}
                <li>
                    <a
                        href="{{ paginate.previous.url }}{{ anchor }}"
                        class="inline-flex justify-center items-center p-3 h-full min-w-9"
                        aria-label="{{ 'general.pagination.previous' | t }}"
                    >
                        {%- render 'component.icon',
                            type: 'chevron-left',
                            class: 'size-5'
                        -%}
                    </a>
                </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
                <li>
                    {%- if part.is_link -%}
                        <a
                            href="{{ part.url }}{{ anchor }}"
                            class="inline-flex justify-center items-center p-3 h-full min-w-9"
                            aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                        >
                            {{- part.title -}}
                        </a>
                    {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                            <a
                                role="link"
                                aria-disabled="true"
                                class="inline-flex relative justify-center items-center h-full min-w-9 after:absolute after:bottom-0 after:left-1/2 after:w-6 after:-translate-x-1/2 after:h-px after:bg-current"
                                aria-current="page"
                                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                            >
                                {{- part.title -}}
                            </a>
                        {%- else -%}
                            <span class="flex items-center h-full">
                                {{- part.title -}}
                            </span>
                        {%- endif -%}
                    {%- endif -%}
                </li>
            {%- endfor -%}

            {%- if paginate.next -%}
                <li>
                    <a
                        href="{{ paginate.next.url }}{{ anchor }}"
                        class="inline-flex justify-center items-center p-3 h-full min-w-9"
                        aria-label="{{ 'general.pagination.next' | t }}"
                    >
                        {%- render 'component.icon',
                            type: 'chevron-left',
                            class: 'size-5 rotate-180'
                        -%}
                    </a>
                </li>
            {%- endif -%}
        </ul>
    </nav>
{%- endif -%}
