{%- doc -%}
    Expected behaviour:
      Renders svg icons
    About:
      All svg's across the site should be added to this file. NOTE: You MUST add class="{{- class -}}" to all new SVGs
    Accepts:
      - type: {String} Case identifier of the svg

      OPTIONAL
      - class: {String} Class names to add to the svg
    Usage:
      {%- render 'component.icon',
        type: 'applepay',
        class: 'w-12 h-12'
      -%}

    @param {string} [type] - Case identifier of the svg to render
    @param {string} [class] - Class names to add to the svg
{%- enddoc -%}

{% liquid
    assign class = class | default: ''
%}

{% case type %}
    {% when 'youtube' %}
        <svg
            class="{{- class -}}"
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path class="fill-current" d="M9.05511 0H9.15014C10.0278 0.00320313 14.4748 0.0352334 15.6738 0.357682C16.0363 0.456124 16.3667 0.647885 16.6318 0.913958C16.8969 1.18003 17.0875 1.51102 17.1847 1.87383C17.2925 2.27956 17.3683 2.81662 17.4195 3.37076L17.4302 3.4818L17.4537 3.7594L17.4623 3.87045C17.5317 4.84633 17.5402 5.76029 17.5413 5.95995V6.04003C17.5402 6.24717 17.5306 7.22305 17.4537 8.23951L17.4452 8.35162L17.4356 8.46266C17.3822 9.07339 17.3032 9.67985 17.1847 10.1262C17.0878 10.4892 16.8972 10.8203 16.6321 11.0863C16.3669 11.3525 16.0364 11.5442 15.6738 11.6423C14.4353 11.9754 9.72777 11.9989 9.0754 12H8.92378C8.59386 12 7.22933 11.9936 5.7986 11.9445L5.61709 11.9381L5.5242 11.9338L5.34162 11.9263L5.15904 11.9188C3.97388 11.8665 2.84531 11.7822 2.32534 11.6412C1.96285 11.5432 1.6325 11.3517 1.36729 11.0858C1.10217 10.8198 0.91148 10.489 0.814532 10.1262C0.696016 9.68092 0.617005 9.07339 0.563619 8.46266L0.555078 8.35055L0.546537 8.23951C0.493792 7.51603 0.464643 6.79106 0.458984 6.06566V5.93433C0.46112 5.70477 0.469661 4.91146 0.527317 4.03594L0.534791 3.92597L0.537994 3.87045L0.546537 3.7594L0.570026 3.4818L0.580704 3.37076C0.631954 2.81662 0.70776 2.27849 0.815599 1.87383C0.91244 1.51091 1.10303 1.17971 1.36814 0.913638C1.63336 0.647565 1.96381 0.455804 2.32641 0.357682C2.84638 0.218879 3.97495 0.133462 5.16011 0.080077L5.34162 0.072603L5.52527 0.0661983L5.61709 0.0629949L5.79967 0.0555209C6.81581 0.022849 7.83237 0.00469733 8.84904 0.00106712H9.05511V0ZM7.29232 3.42735V8.57157L11.7308 6.00053L7.29232 3.42735Z"/>
        </svg>
    {% when 'instagram' %}
        <svg
            class="{{- class -}}"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path class="fill-current" fill-rule="evenodd" clip-rule="evenodd" d="M11.5556 0H4.4444C1.9898 0 0 1.9898 0 4.4444V11.5556C0 14.0101 1.9898 16 4.4444 16H11.5556C14.0101 16 16 14.0101 16 11.5556V4.4444C16 1.9898 14.0101 0 11.5556 0ZM14.4444 11.5556C14.4396 13.149 13.149 14.4396 11.5556 14.4444H4.4444C2.851 14.4396 1.5604 13.149 1.5556 11.5556V4.4444C1.5604 2.851 2.851 1.5604 4.4444 1.5556H11.5556C13.149 1.5604 14.4396 2.851 14.4444 4.4444V11.5556ZM12.2222 4.6667C12.7132 4.6667 13.1111 4.2687 13.1111 3.7778C13.1111 3.2869 12.7132 2.8889 12.2222 2.8889C11.7313 2.8889 11.3333 3.2869 11.3333 3.7778C11.3333 4.2687 11.7313 4.6667 12.2222 4.6667ZM8 4C5.7909 4 4 5.7909 4 8C4 10.2092 5.7909 12 8 12C10.2092 12 12 10.2092 12 8C12.0024 6.9384 11.5817 5.9196 10.831 5.169C10.0804 4.4183 9.0616 3.9976 8 4ZM5.5556 8C5.5556 9.35 6.65 10.4444 8 10.4444C9.35 10.4444 10.4444 9.35 10.4444 8C10.4444 6.65 9.35 5.5556 8 5.5556C6.65 5.5556 5.5556 6.65 5.5556 8Z"/>
        </svg>
    {% when 'facebook' %}
        <svg
            class="{{- class -}}"
            width="10"
            height="16"
            viewBox="0 0 10 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path class="fill-current" d="M8.75001 3H6.25004C5.7898 3 5.41668 3.37313 5.41668 3.83338V6.33338H8.75001C8.84476 6.33125 8.93463 6.37537 8.991 6.45162C9.04738 6.52787 9.06313 6.62663 9.03338 6.71663L8.41664 8.55C8.35989 8.71825 8.20264 8.832 8.02502 8.83338H5.41668V15.0834C5.41668 15.3134 5.23018 15.5 5.00006 15.5H2.91672C2.6866 15.5 2.5001 15.3134 2.5001 15.0834V8.83338H1.25012C1.02 8.83338 0.833496 8.64675 0.833496 8.41662V6.75C0.833496 6.51987 1.02 6.33338 1.25012 6.33338H2.5001V3.83338C2.5001 1.99238 3.99245 0.5 5.83342 0.5H8.75001C8.98013 0.5 9.16663 0.6865 9.16663 0.916625V2.58338C9.16663 2.8135 8.98013 3 8.75001 3Z"/>
        </svg>
    {% when 'linkedin' %}
        <svg
            class="{{- class -}}"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g clip-path="url(#clip0_417_204)">
            <path class="fill-current" fill-rule="evenodd" clip-rule="evenodd" d="M0.830078 2.36419C0.830078 1.95797 0.99145 1.56838 1.27869 1.28114C1.56594 0.993893 1.95552 0.832522 2.36175 0.832522H17.6301C17.8314 0.832193 18.0308 0.871574 18.2169 0.94841C18.4029 1.02525 18.572 1.13803 18.7145 1.2803C18.8569 1.42257 18.9698 1.59154 19.0469 1.77753C19.1239 1.96352 19.1635 2.16288 19.1634 2.36419V17.6325C19.1636 17.8339 19.1241 18.0333 19.0472 18.2194C18.9703 18.4054 18.8574 18.5745 18.7151 18.7169C18.5728 18.8594 18.4037 18.9723 18.2177 19.0493C18.0317 19.1264 17.8323 19.166 17.6309 19.1659H2.36175C2.16053 19.1659 1.96129 19.1262 1.77541 19.0492C1.58952 18.9722 1.42064 18.8593 1.2784 18.7169C1.13616 18.5746 1.02335 18.4057 0.94643 18.2198C0.869506 18.0338 0.829969 17.8346 0.830078 17.6334V2.36419ZM8.08675 7.82252H10.5692V9.06919C10.9276 8.35252 11.8442 7.70752 13.2217 7.70752C15.8626 7.70752 16.4884 9.13502 16.4884 11.7542V16.6059H13.8159V12.3509C13.8159 10.8592 13.4576 10.0175 12.5476 10.0175C11.2851 10.0175 10.7601 10.925 10.7601 12.3509V16.6059H8.08675V7.82252ZM3.50341 16.4917H6.17675V7.70752H3.50341V16.4909V16.4917ZM6.55925 4.84252C6.56429 5.07142 6.52356 5.29901 6.43945 5.51195C6.35533 5.72489 6.22954 5.91888 6.06944 6.08255C5.90934 6.24621 5.71816 6.37625 5.50712 6.46503C5.29609 6.55381 5.06944 6.59954 4.8405 6.59954C4.61155 6.59954 4.3849 6.55381 4.17387 6.46503C3.96283 6.37625 3.77165 6.24621 3.61155 6.08255C3.45145 5.91888 3.32566 5.72489 3.24155 5.51195C3.15743 5.29901 3.1167 5.07142 3.12175 4.84252C3.13164 4.39323 3.31707 3.96568 3.63832 3.65143C3.95957 3.33717 4.3911 3.1612 4.8405 3.1612C5.28989 3.1612 5.72142 3.33717 6.04267 3.65143C6.36392 3.96568 6.54935 4.39323 6.55925 4.84252Z"/>
            </g>
            <defs>
            <clipPath id="clip0_417_204">
            <rect class="fill-current" width="20" height="20"/>
            </clipPath>
            </defs>
        </svg>
    {% when 'twitter' %}
        <svg
            class="{{- class -}}"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path class="fill-current" d="M19.7029 4.1122C19.0071 4.42053 18.2596 4.62886 17.4737 4.72303C18.2846 4.23786 18.8912 3.47425 19.1804 2.5747C18.4186 3.02719 17.5849 3.34569 16.7154 3.51636C16.1307 2.89208 15.3563 2.4783 14.5124 2.33926C13.6684 2.20021 12.8022 2.34369 12.0481 2.74741C11.2941 3.15112 10.6944 3.7925 10.3422 4.57195C9.99003 5.3514 9.90503 6.22532 10.1004 7.05803C8.55682 6.98053 7.04677 6.57932 5.66827 5.88045C4.28977 5.18158 3.07362 4.20066 2.09875 3.00136C1.76542 3.57636 1.57375 4.24303 1.57375 4.95303C1.57338 5.59219 1.73078 6.22157 2.03198 6.78531C2.33319 7.34905 2.76888 7.82973 3.30042 8.1847C2.68398 8.16508 2.08114 7.99852 1.54208 7.69886V7.74886C1.54202 8.64531 1.85211 9.51418 2.41974 10.208C2.98736 10.9019 3.77756 11.378 4.65625 11.5555C4.0844 11.7103 3.48486 11.7331 2.90292 11.6222C3.15083 12.3935 3.63375 13.0681 4.28406 13.5513C4.93437 14.0346 5.71951 14.3023 6.52958 14.3172C5.15444 15.3967 3.45616 15.9823 1.70792 15.9797C1.39823 15.9798 1.08881 15.9617 0.78125 15.9255C2.55581 17.0665 4.62153 17.672 6.73125 17.6697C13.8729 17.6697 17.7771 11.7547 17.7771 6.6247C17.7771 6.45803 17.7729 6.2897 17.7654 6.12303C18.5248 5.57384 19.1803 4.89378 19.7013 4.1147L19.7029 4.1122Z"/>
        </svg>
    {% when 'x' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
        >
            <path d="M13.1177 10.6221L19.4453 3H17.9457L12.4502 9.6177L8.06242 3H3L9.63716 13.008L3 21H4.49958L10.3028 14.0115L14.9376 21H20L13.1177 10.6221ZM11.0634 13.0953L10.3905 12.099L5.04 4.17H7.34395L11.6619 10.569L12.3339 11.5653L17.9466 19.8831H15.6435L11.0634 13.0953Z" fill="currentColor"/>
        </svg>
    {% when 'vimeo' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
        >
            <title>Vimeo</title><path fill="currentColor" d="M22 7.42c-.09 1.95-1.45 4.62-4.08 8.02C15.2 19 12.9 20.75 11 20.75c-1.15 0-2.14-1.08-2.95-3.25c-.55-1.96-1.05-3.94-1.61-5.92c-.6-2.16-1.24-3.24-1.94-3.24c-.14 0-.66.32-1.56.95L2 8.07c1-.87 1.96-1.74 2.92-2.61c1.32-1.14 2.31-1.74 2.96-1.8c1.56-.16 2.52.92 2.88 3.2c.39 2.47.66 4 .81 4.6c.43 2.04.93 3.04 1.48 3.04c.42 0 1.05-.64 1.89-1.97q1.26-1.98 1.35-3.03q.18-1.71-1.35-1.71c-.48 0-.97.11-1.48.33c.98-3.23 2.86-4.8 5.63-4.71c2.06.06 3.03 1.4 2.91 4.01"/>
        </svg>
    {% when 'tumblr' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
        >
            <title>Tumblr</title><path fill="currentColor" d="M6.27 7.63A5.76 5.76 0 0 0 10.817 2h3.03v5.152h3.637v3.636h-3.637v5.454c0 .515.198 1.207.91 1.667q.711.46 3.03.455V22h-4.243a4.546 4.546 0 0 1-4.545-4.546v-6.666H6.27z"/>
        </svg>
    {% when 'tiktok' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
        >
            <title>TikTok</title><path fill="currentColor" d="M16.6 5.82A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6 0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64 0 3.33 2.76 5.7 5.69 5.7 3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48Z"/>
        </svg>
    {% when 'snapchat' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
        >
            <path fill="currentColor" d="M21.93 16.56c-.14-.38-.43-.56-.71-.75-.05-.03-.11-.06-.15-.08-.07-.05-.18-.09-.27-.14-.94-.5-1.68-1.13-2.19-1.87a6 6 0 0 1-.37-.66c-.04-.13-.04-.2-.01-.26.03-.05.07-.1.12-.13.15-.11.33-.21.44-.29.21-.13.36-.23.46-.3.39-.27.66-.58.83-.88.24-.45.27-.98.08-1.45-.25-.67-.89-1.09-1.66-1.09-.16 0-.32.02-.5.05 0 .01-.06.02-.1.03 0-.46-.01-.94-.05-1.42-.14-1.68-.73-2.56-1.35-3.26-.39-.44-.85-.82-1.36-1.11-.93-.53-1.99-.8-3.14-.8s-2.2.27-3.13.8c-.52.29-.98.67-1.37 1.11-.62.7-1.2 1.58-1.35 3.26-.04.48-.05.96-.04 1.42-.05-.01-.11-.02-.11-.03-.18-.03-.34-.05-.5-.05-.77 0-1.41.42-1.66 1.09-.19.47-.16 1 .08 1.45.17.3.44.61.83.88.1.07.25.17.46.31l.42.27c.06.04.1.09.14.14.03.07.03.14-.02.27-.1.23-.22.43-.36.65-.5.73-1.21 1.35-2.12 1.84-.49.26-.99.44-1.2 1-.16.44-.07.94.35 1.35.15.15.32.28.51.38.4.21.82.39 1.25.5.09.03.18.06.25.12.15.12.13.32.33.59.1.16.24.29.37.39.41.29.87.3 1.37.32.44.02.94.04 1.5.23.26.06.5.23.79.41.71.42 1.63 1 3.21 1 1.57 0 2.5-.58 3.22-1.01.28-.17.53-.34.78-.4.55-.19 1.06-.21 1.5-.23.5-.01.96-.03 1.37-.32.17-.12.31-.28.42-.46.14-.24.14-.43.27-.52.07-.05.15-.09.24-.11.44-.12.86-.3 1.26-.51q.315-.165.54-.42h.01c.39-.41.47-.87.32-1.31m-1.4.75c-.86.47-1.43.42-1.87.69-.16.12-.21.28-.24.44l-.03.2c-.02.14-.05.26-.15.33-.34.23-1.33-.02-2.61.4-1.06.35-1.73 1.36-3.63 1.36s-2.55-1-3.63-1.36c-1.27-.42-2.27-.17-2.6-.4-.27-.19-.05-.71-.43-.97-.44-.27-1.01-.22-1.84-.69-.31-.16-.36-.31-.32-.38.04-.09.16-.16.24-.2 1.65-.79 2.58-1.82 3.05-2.63.44-.72.53-1.27.56-1.35.03-.21.06-.37-.17-.58-.22-.21-1.2-.81-1.47-1-.46-.32-.65-.63-.51-1.02.12-.27.35-.37.62-.37q.12 0 .24.03c.5.1.98.35 1.26.42.03.01.06.01.1.01.09 0 .14-.03.17-.09.01-.04.02-.09.02-.15-.04-.54-.11-1.59-.03-2.58.04-.42.11-.78.2-1.09.2-.68.54-1.13.88-1.54.25-.29 1.41-1.52 3.66-1.52 1.85 0 2.96.84 3.44 1.29.1.1.18.18.22.23.38.44.72.92.92 1.68.07.27.13.59.16.95.08.98.01 2.04-.03 2.58 0 .04 0 .08.01.11.01.09.07.13.18.13.04 0 .07 0 .1-.01.28-.07.76-.32 1.26-.43.08-.01.16-.02.24-.02.25 0 .5.09.6.32l.01.04h.01v.01c.15.38-.05.7-.5 1.01-.27.19-1.26.8-1.48 1-.23.22-.2.38-.17.59.03.1.21 1.05 1.11 2.11.55.64 1.34 1.31 2.5 1.87.07.03.16.08.21.14.03.05.05.09.04.13-.01.1-.1.2-.3.31"/>
        </svg>
    {% when 'whatsapp' %}
        <svg
            class="{{- class -}}"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g clip-path="url(#clip0_305_7693)">
                <path d="M2.46255 14.3172L2.55038 14.1032L2.44416 13.8977C1.84089 12.7307 1.49995 11.4059 1.49995 10C1.49995 5.30558 5.30553 1.5 9.99995 1.5C14.6944 1.5 18.4999 5.30558 18.4999 10C18.4999 14.6944 14.6944 18.5 9.99995 18.5C8.2519 18.5 6.62849 17.9729 5.27813 17.069L5.08145 16.9373L4.85496 17.006L0.862188 18.2162L2.46255 14.3172Z" stroke="currentColor"/>
                <path d="M7.15801 6.31567L6.15934 7.31434C6.05979 7.41389 6.01559 7.5568 6.04823 7.69375C6.75639 10.6651 9.66895 13.2245 12.2821 13.9385C12.4318 13.9794 12.5901 13.9271 12.6922 13.8104L13.691 12.6689C13.856 12.4804 13.8208 12.1904 13.6156 12.0467L12.2181 11.0685C12.0362 10.9412 11.7868 10.9769 11.648 11.1502L11.2276 11.6752C11.1216 11.8076 10.9459 11.8651 10.7859 11.8092C9.52917 11.3697 8.61182 10.4458 8.1794 9.18276C8.12988 9.03812 8.17231 8.87927 8.28041 8.77117L8.87708 8.17451C9.03476 8.01683 9.04217 7.76358 8.89398 7.59696L7.77036 6.33358C7.6094 6.15259 7.32929 6.1444 7.15801 6.31567Z" fill="currentColor" stroke="currentColor" stroke-width="0.5" stroke-linecap="round"/>
            </g>
            <defs>
                <clipPath id="clip0_305_7693">
                    <rect width="20" height="20" fill="transparent"/>
                </clipPath>
            </defs>
        </svg>
    {% when 'pinterest' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
        >
            <title>Pinterest</title><path fill="currentColor" d="M9.04 21.54c.96.29 1.93.46 2.96.46A10 10 0 1 0 2 12c0 4.25 2.67 7.9 6.44 9.34-.09-.78-.18-2.07 0-2.96l1.15-4.94s-.29-.58-.29-1.5c0-1.38.86-2.41 1.84-2.41.86 0 1.26.63 1.26 1.44 0 .86-.57 2.09-.86 3.27-.17.98.52 1.84 1.52 1.84 1.78 0 3.16-1.9 3.16-4.58 0-2.4-1.72-4.04-4.19-4.04-2.82 0-4.48 2.1-4.48 4.31 0 .86.28 1.73.74 2.3.09.06.09.14.06.29l-.29 1.09c0 .17-.11.23-.28.11-1.28-.56-2.02-2.38-2.02-3.85 0-3.16 2.24-6.03 6.56-6.03 3.44 0 6.12 2.47 6.12 5.75 0 3.44-2.13 6.2-5.18 6.2-.97 0-1.92-.52-2.26-1.13l-.67 2.37c-.23.86-.86 2.01-1.29 2.7v-.03Z"/>
        </svg>
    {% when 'phone' %}
        <svg
            class="{{- class -}}"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M16.5001 12.6901V14.9401C16.5009 15.1489 16.4581 15.3557 16.3745 15.5471C16.2908 15.7385 16.168 15.9103 16.0141 16.0515C15.8602 16.1927 15.6785 16.3002 15.4806 16.3671C15.2828 16.434 15.0731 16.4589 14.8651 16.4401C12.5572 16.1893 10.3403 15.4007 8.39257 14.1376C6.58044 12.9861 5.04407 11.4497 3.89257 9.63757C2.62506 7.68098 1.83625 5.45332 1.59007 3.13507C1.57133 2.92767 1.59598 2.71864 1.66245 2.52129C1.72892 2.32394 1.83575 2.14259 1.97615 1.98879C2.11654 1.83499 2.28743 1.7121 2.47792 1.62796C2.6684 1.54382 2.87433 1.50027 3.08257 1.50007H5.33257C5.69655 1.49649 6.04942 1.62538 6.32539 1.86272C6.60137 2.10006 6.78163 2.42966 6.83257 2.79007C6.92754 3.51012 7.10366 4.21712 7.35757 4.89757C7.45848 5.16602 7.48032 5.45776 7.4205 5.73823C7.36069 6.01871 7.22172 6.27616 7.02007 6.48007L6.06757 7.43257C7.13524 9.31023 8.68991 10.8649 10.5676 11.9326L11.5201 10.9801C11.724 10.7784 11.9814 10.6395 12.2619 10.5796C12.5424 10.5198 12.8341 10.5417 13.1026 10.6426C13.783 10.8965 14.49 11.0726 15.2101 11.1676C15.5744 11.219 15.9071 11.4025 16.145 11.6832C16.3828 11.9639 16.5092 12.3223 16.5001 12.6901Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    {% when 'email' %}
        <svg
            class="{{- class -}}"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M3 3H15C15.825 3 16.5 3.675 16.5 4.5V13.5C16.5 14.325 15.825 15 15 15H3C2.175 15 1.5 14.325 1.5 13.5V4.5C1.5 3.675 2.175 3 3 3Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.5 4.5L9 9.75L1.5 4.5" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    {% when 'location' %}
        <svg
            class="{{- class -}}"
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M14.875 7.08301C14.875 12.0413 8.5 16.2913 8.5 16.2913C8.5 16.2913 2.125 12.0413 2.125 7.08301C2.125 5.39225 2.79665 3.77075 3.99219 2.5752C5.18774 1.37966 6.80924 0.708008 8.5 0.708008C10.1908 0.708008 11.8123 1.37966 13.0078 2.5752C14.2033 3.77075 14.875 5.39225 14.875 7.08301Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.5 9.20801C9.6736 9.20801 10.625 8.25661 10.625 7.08301C10.625 5.9094 9.6736 4.95801 8.5 4.95801C7.32639 4.95801 6.375 5.9094 6.375 7.08301C6.375 8.25661 7.32639 9.20801 8.5 9.20801Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    {% when 'search' %}
        <svg
            class="{{- class -}}"
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0593 11.6603C9.97669 12.6037 8.56137 13.175 7.0126 13.175C3.60914 13.175 0.850098 10.416 0.850098 7.0125C0.850098 3.60904 3.60914 0.849998 7.0126 0.849998C10.4161 0.849998 13.1751 3.60904 13.1751 7.0125C13.1751 8.56127 12.6038 9.97659 11.6604 11.0592L16.8756 16.2745L16.2746 16.8755L11.0593 11.6603ZM12.3251 7.0125C12.3251 9.94651 9.94661 12.325 7.0126 12.325C4.07858 12.325 1.7001 9.94651 1.7001 7.0125C1.7001 4.07849 4.07858 1.7 7.0126 1.7C9.94661 1.7 12.3251 4.07849 12.3251 7.0125Z" fill="currentColor"/>
        </svg>
    {% when 'customer_account' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 17"
            fill="none"
        >
            <path fill="#fff" d="M4.95 3.6a2.7 2.7 0 1 1 5.4 0 2.7 2.7 0 0 1-5.4 0ZM7.65 0a3.6 3.6 0 1 0 0 7.2 3.6 3.6 0 0 0 0-7.2Zm5.022 10.935c1.008.738 1.647 2.016 1.719 4.365H.909c.072-2.34.711-3.627 1.71-4.365C3.744 10.125 5.4 9.9 7.65 9.9c2.25 0 3.915.234 5.022 1.035ZM7.65 9c-2.25 0-4.185.216-5.553 1.215C.693 11.232 0 12.987 0 15.75v.45h15.3v-.45c0-2.763-.693-4.518-2.097-5.535C11.835 9.225 9.9 9 7.65 9Z"/>
        </svg>
    {% when 'account' %}
        <svg
            class="{{- class -}}"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M6.7498 4.5C6.7498 3.78392 7.03427 3.09716 7.54062 2.59081C8.04697 2.08447 8.73372 1.8 9.4498 1.8C10.1659 1.8 10.8526 2.08447 11.359 2.59081C11.8653 3.09716 12.1498 3.78392 12.1498 4.5C12.1498 5.21609 11.8653 5.90284 11.359 6.40919C10.8526 6.91554 10.1659 7.2 9.4498 7.2C8.73372 7.2 8.04697 6.91554 7.54062 6.40919C7.03427 5.90284 6.7498 5.21609 6.7498 4.5ZM9.4498 0.900002C8.49503 0.900002 7.57935 1.27929 6.90422 1.95442C6.22909 2.62955 5.8498 3.54522 5.8498 4.5C5.8498 5.45478 6.22909 6.37046 6.90422 7.04559C7.57935 7.72072 8.49503 8.1 9.4498 8.1C10.4046 8.1 11.3203 7.72072 11.9954 7.04559C12.6705 6.37046 13.0498 5.45478 13.0498 4.5C13.0498 3.54522 12.6705 2.62955 11.9954 1.95442C11.3203 1.27929 10.4046 0.900002 9.4498 0.900002ZM14.4718 11.835C15.4798 12.573 16.1188 13.851 16.1908 16.2H2.7088C2.7808 13.86 3.4198 12.573 4.4188 11.835C5.5438 11.025 7.1998 10.8 9.4498 10.8C11.6998 10.8 13.3648 11.034 14.4718 11.835ZM9.4498 9.9C7.1998 9.9 5.2648 10.116 3.8968 11.115C2.4928 12.132 1.7998 13.887 1.7998 16.65V17.1H17.0998V16.65C17.0998 13.887 16.4068 12.132 15.0028 11.115C13.6348 10.125 11.6998 9.9 9.4498 9.9Z" fill="currentColor"/>
        </svg>

    {% when 'shipping_threshold_truck' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
        >
            <g clip-path="url(#clip0_4536_8232)"><path d="M0 2.50104C0 2.31636 0.149464 2.16665 0.333837 2.16665H7.098C7.28233 2.16665 7.4318 2.31636 7.4318 2.50104V3.38337V3.75575V4.07292V9.10774C7.29513 9.3378 7.2542 9.40673 7.0344 9.77653L4.81559 9.7764V9.1076H6.76413V2.83544H0.667673V9.1076H1.78947V9.7764H0.333837C0.149464 9.7764 0 9.62667 0 9.442V2.50104Z" fill="currentColor"/><path d="M12.6657 5.38918L7.43182 4.07292V3.38337L13.0808 4.80402C13.2293 4.84136 13.3334 4.97504 13.3334 5.12836V9.44207C13.3334 9.62674 13.1839 9.77647 12.9995 9.77647H11.5381V9.10767H12.6657V5.38918ZM7.43182 9.10774L8.89616 9.10767L8.89622 9.77647L7.03442 9.77654L7.43182 9.10774Z" fill="currentColor"/><path d="M5.1418 9.45694C5.1418 10.4012 4.37763 11.1667 3.43498 11.1667C2.49232 11.1667 1.72815 10.4012 1.72815 9.45694C1.72815 8.51274 2.49232 7.74727 3.43498 7.74727C4.37763 7.74727 5.1418 8.51274 5.1418 9.45694ZM3.43498 10.4979C4.00888 10.4979 4.47413 10.0319 4.47413 9.45694C4.47413 8.88207 4.00888 8.41607 3.43498 8.41607C2.86107 8.41607 2.39582 8.88207 2.39582 9.45694C2.39582 10.0319 2.86107 10.4979 3.43498 10.4979Z" fill="currentColor"/><path d="M11.6798 9.45694C11.6798 10.4012 10.9156 11.1667 9.97291 11.1667C9.03031 11.1667 8.26611 10.4012 8.26611 9.45694C8.26611 8.51274 9.03031 7.74727 9.97291 7.74727C10.9156 7.74727 11.6798 8.51274 11.6798 9.45694ZM9.97291 10.4979C10.5468 10.4979 11.0121 10.0319 11.0121 9.45694C11.0121 8.88207 10.5468 8.41607 9.97291 8.41607C9.39905 8.41607 8.93378 8.88207 8.93378 9.45694C8.93378 10.0319 9.39905 10.4979 9.97291 10.4979Z" fill="currentColor"/></g><defs><clipPath id="clip0_4536_8232"><rect width="13.3333" height="13.3333" fill="currentColor"/></clipPath></defs>
        </svg>
    {%- when 'info_circle' -%}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 375 375"
            fill="none"
        >
            <circle cx="187.5" cy="187.5" r="139.45" stroke="currentColor" stroke-width="15" fill="none"/>
            <g transform="translate(152 29)" fill="currentColor">
                <g transform="translate(0.284345 241.208299)">
                    <path d="M 35.609375 -132.28125 C 31.796875 -132.28125 28.804688 -133.316406 26.640625 -135.390625 C 24.472656 -137.472656 23.390625 -140.421875 23.390625 -144.234375 C 23.390625 -147.703125 24.472656 -150.472656 26.640625 -152.546875 C 28.804688 -154.628906 31.796875 -155.671875 35.609375 -155.671875 C 39.242188 -155.671875 42.097656 -154.628906 44.171875 -152.546875 C 46.253906 -150.472656 47.296875 -147.703125 47.296875 -144.234375 C 47.296875 -140.421875 46.253906 -137.472656 44.171875 -135.390625 C 42.097656 -133.316406 39.242188 -132.28125 35.609375 -132.28125 Z M 13.25 0 C 12.726562 0 12.46875 -0.519531 12.46875 -1.5625 C 12.46875 -2.601562 12.726562 -3.125 13.25 -3.125 C 19.664062 -3.125 23.910156 -4.289062 25.984375 -6.625 C 28.066406 -8.96875 29.109375 -13.773438 29.109375 -21.046875 L 29.109375 -69.390625 C 29.109375 -75.453125 28.5 -79.867188 27.28125 -82.640625 C 26.070312 -85.410156 23.910156 -86.796875 20.796875 -86.796875 C 17.847656 -86.796875 14.035156 -85.585938 9.359375 -83.171875 L 9.09375 -83.171875 C 8.40625 -83.171875 7.882812 -83.601562 7.53125 -84.46875 C 7.1875 -85.332031 7.363281 -85.9375 8.0625 -86.28125 L 42.625 -102.390625 L 43.65625 -102.65625 C 44.175781 -102.65625 44.738281 -102.394531 45.34375 -101.875 C 45.957031 -101.351562 46.265625 -100.832031 46.265625 -100.3125 C 46.265625 -99.101562 46.175781 -95.640625 46 -89.921875 C 45.820312 -84.203125 45.734375 -77.445312 45.734375 -69.65625 L 45.734375 -21.046875 C 45.734375 -16.023438 46.125 -12.257812 46.90625 -9.75 C 47.6875 -7.238281 49.203125 -5.503906 51.453125 -4.546875 C 53.710938 -3.597656 57.09375 -3.125 61.59375 -3.125 C 62.113281 -3.125 62.375 -2.601562 62.375 -1.5625 C 62.375 -0.519531 62.113281 0 61.59375 0 C 57.257812 0 53.878906 -0.0859375 51.453125 -0.265625 L 37.421875 -0.515625 L 22.875 -0.265625 C 20.445312 -0.0859375 17.238281 0 13.25 0 Z M 13.25 0"/>
                </g>
            </g>
        </svg>
    {%- when 'minus' -%}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="currentColor"
        >
            <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
        </svg>
    {%- when 'plus' -%}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="currentColor"
        >
            <path class="fill-current" fill-rule="evenodd" clip-rule="evenodd" d="M10.5 9.5V5.5H9.5L9.5 9.5H5.5V10.5H9.5L9.5 14.5H10.5V10.5H14.5V9.5H10.5Z"/>
        </svg>
    {% when 'cart_drawer' %}
        <svg
            class="{{- class -}}"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M5.18182 4.69231C5.18182 4.69231 5.18182 1 9 1C12.8182 1 12.8182 4.69231 12.8182 4.69231M2 4.69231V17H16V4.69231H2Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    {% when 'burger_menu' %}
        <svg
            class="{{- class -}}"
            width="24"
            height="24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 4H3V3h18.5v1zm0 8H3v-1h18.5v1zM3 20h18.5v-1H3v1z" fill="currentColor"/>
        </svg>
    {% when 'chevron' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            viewBox="0 0 20 20"
        >
            <path class="fill-current" fill-rule="evenodd" d="M5.624 20 4 18.376 12.376 10 4 1.624 5.624 0l10 10-10 10Z" clip-rule="evenodd"/>
        </svg>

    {% when 'chevron-down' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            viewBox="0 0 20 20"
        >
            <path class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m6 8 4 4 4-4"/>
        </svg>

    {% when 'full_long_arrow' %}
        <svg
            class="{{- class -}}"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M14.4212 7.26197C14.4605 7.16668 14.5227 7.08258 14.6023 7.01714C14.6819 6.95171 14.7765 6.90698 14.8776 6.88694C14.9787 6.86689 15.0832 6.87216 15.1817 6.90226C15.2803 6.93236 15.3699 6.98637 15.4425 7.05947L20.4425 12.0595C20.5007 12.1175 20.5469 12.1865 20.5784 12.2624C20.6099 12.3384 20.6261 12.4198 20.6261 12.502C20.6261 12.5842 20.6099 12.6656 20.5784 12.7415C20.5469 12.8174 20.5007 12.8864 20.4425 12.9445L15.4425 17.9445C15.3251 18.0618 15.166 18.1278 15 18.1278C14.834 18.1278 14.6749 18.0618 14.5575 17.9445C14.4401 17.8271 14.3742 17.6679 14.3742 17.502C14.3742 17.336 14.4401 17.1768 14.5575 17.0595L18.4913 13.127H5C4.83424 13.127 4.67527 13.0611 4.55806 12.9439C4.44085 12.8267 4.375 12.6677 4.375 12.502C4.375 12.3362 4.44085 12.1772 4.55806 12.06C4.67527 11.9428 4.83424 11.877 5 11.877H18.4913L14.5575 7.94447C14.4697 7.85703 14.4098 7.74547 14.3856 7.62394C14.3613 7.50242 14.3737 7.37642 14.4212 7.26197Z" fill="currentColor"/>
        </svg>
    {% when 'big-aarow' %}
        <svg
            class="{{- class -}}"
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path class="fill-current" d="M57.685 29.0479C57.842 28.6667 58.0908 28.3303 58.4093 28.0686C58.7277 27.8068 59.106 27.6279 59.5103 27.5477C59.9147 27.4676 60.3326 27.4886 60.7268 27.609C61.1211 27.7294 61.4794 27.9455 61.77 28.2379L81.77 48.2379C82.0028 48.4701 82.1875 48.746 82.3136 49.0497C82.4396 49.3534 82.5045 49.6791 82.5045 50.0079C82.5045 50.3367 82.4396 50.6623 82.3136 50.9661C82.1875 51.2698 82.0028 51.5457 81.77 51.7779L61.77 71.7779C61.3006 72.2473 60.6639 72.511 60 72.511C59.3361 72.511 58.6994 72.2473 58.23 71.7779C57.7606 71.3085 57.4968 70.6718 57.4968 70.0079C57.4968 69.344 57.7606 68.7073 58.23 68.2379L73.965 52.5079H20C19.337 52.5079 18.7011 52.2445 18.2322 51.7757C17.7634 51.3068 17.5 50.6709 17.5 50.0079C17.5 49.3448 17.7634 48.709 18.2322 48.2401C18.7011 47.7713 19.337 47.5079 20 47.5079H73.965L58.23 31.7779C57.8787 31.4281 57.6394 30.9819 57.5424 30.4958C57.4453 30.0097 57.495 29.5057 57.685 29.0479Z"/>
        </svg>

    {% when 'close' %}
        <svg
            class="{{- class -}}"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path class='fill-current stroke-current' d="M11.06 10.854l7.647-7.647L18 2.5l-7.646 7.646L2.707 2.5 2 3.207l7.646 7.647L2 18.5l.707.707 7.647-7.646L18 19.207l.707-.707-7.646-7.646z"/>
        </svg>
    {% when 'zoom_in' %}
        <svg
            class="{{ class }}"
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g id="zoom">
            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M6.06738 10.3218C6.06649 9.9628 6.35676 9.67106 6.71575 9.67016L13.9095 9.6521C14.2685 9.6512 14.5602 9.94148 14.5611 10.3005C14.5621 10.6595 14.2718 10.9512 13.9127 10.9521L6.71901 10.9701C6.36003 10.9711 6.06828 10.6808 6.06738 10.3218Z" fill="currentColor"/>
            <path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd" d="M10.3034 6.06397C10.6624 6.06307 10.9541 6.35335 10.955 6.71233L10.9731 13.906C10.974 14.2651 10.6837 14.5568 10.3247 14.5577C9.96572 14.5586 9.67397 14.2684 9.67308 13.9093L9.65503 6.71559C9.65413 6.35661 9.94441 6.06486 10.3034 6.06397Z" fill="currentColor"/>
            <path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd" d="M16.6821 3.93914C13.1631 0.420284 7.45801 0.420284 3.93914 3.93914C0.420283 7.45801 0.420283 13.1633 3.93914 16.6821C7.45801 20.201 13.1631 20.201 16.6821 16.6821C20.201 13.1633 20.201 7.45801 16.6821 3.93914ZM3.01991 3.01991C7.04645 -1.00664 13.5747 -1.00664 17.6013 3.01991C21.5931 7.01169 21.6276 13.4623 17.7047 17.4964L23.7215 23.5132C23.9754 23.7671 23.9754 24.1787 23.7215 24.4326C23.4677 24.6864 23.0561 24.6864 22.8023 24.4326L16.7411 18.3713C12.693 21.609 6.77091 21.3524 3.01991 17.6014C-1.00664 13.5747 -1.00664 7.04645 3.01991 3.01991Z" fill="currentColor"/>
            </g>
        </svg>
    {% when 'zoom_out' %}
        <svg
            class="{{ class }}"
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g id="zoom">
            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M6.06738 10.3218C6.06649 9.9628 6.35676 9.67106 6.71575 9.67016L13.9095 9.6521C14.2685 9.6512 14.5602 9.94148 14.5611 10.3005C14.5621 10.6595 14.2718 10.9512 13.9127 10.9521L6.71901 10.9701C6.36003 10.9711 6.06828 10.6808 6.06738 10.3218Z" fill="currentColor"/>
            <path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd" d="M16.6821 3.93914C13.1631 0.420284 7.45801 0.420284 3.93914 3.93914C0.420283 7.45801 0.420283 13.1633 3.93914 16.6821C7.45801 20.201 13.1631 20.201 16.6821 16.6821C20.201 13.1633 20.201 7.45801 16.6821 3.93914ZM3.01991 3.01991C7.04645 -1.00664 13.5747 -1.00664 17.6013 3.01991C21.5931 7.01169 21.6276 13.4623 17.7047 17.4964L23.7215 23.5132C23.9754 23.7671 23.9754 24.1787 23.7215 24.4326C23.4677 24.6864 23.0561 24.6864 22.8023 24.4326L16.7411 18.3713C12.693 21.609 6.77091 21.3524 3.01991 17.6014C-1.00664 13.5747 -1.00664 7.04645 3.01991 3.01991Z" fill="currentColor"/>
            </g>
        </svg>
    {% when 'filter_mobile_icon' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="15"
            viewBox="0 0 14 15"
            fill="none"
        >
            <path class="fill-current" d="M9 3.375C8.70156 3.37493 8.41537 3.2563 8.20439 3.04521C7.99341 2.83413 7.87493 2.54788 7.875 2.24944C7.87507 1.95099 7.9937 1.6648 8.20479 1.45383C8.41587 1.24285 8.70212 1.12436 9.00056 1.12444C9.14834 1.12447 9.29466 1.15362 9.43117 1.2102C9.56768 1.26679 9.69171 1.34971 9.79617 1.45422C9.90064 1.55874 9.9835 1.68281 10.04 1.81935C10.0965 1.95589 10.1256 2.10223 10.1256 2.25C10.1255 2.39777 10.0964 2.54409 10.0398 2.6806C9.98321 2.81712 9.90029 2.94115 9.79578 3.04561C9.69126 3.15008 9.56719 3.23293 9.43065 3.28945C9.29411 3.34597 9.14777 3.37504 9 3.375ZM11.1701 1.6875C10.9187 0.72 10.0451 0 9 0C7.95487 0 7.08131 0.72 6.82987 1.6875H0V2.8125H6.82987C7.08131 3.78 7.95487 4.5 9 4.5C10.0451 4.5 10.9187 3.78 11.1701 2.8125H13.5V1.6875H11.1701ZM9 13.5C8.85223 13.5 8.70591 13.4708 8.5694 13.4142C8.43288 13.3577 8.30885 13.2747 8.20439 13.1702C8.09992 13.0657 8.01707 12.9416 7.96055 12.8051C7.90403 12.6685 7.87496 12.5222 7.875 12.3744C7.87504 12.2267 7.90418 12.0803 7.96076 11.9438C8.01735 11.8073 8.10027 11.6833 8.20479 11.5788C8.3093 11.4744 8.43337 11.3915 8.56991 11.335C8.70645 11.2785 8.85279 11.2494 9.00056 11.2494C9.29901 11.2495 9.5852 11.3681 9.79617 11.5792C10.0072 11.7903 10.1256 12.0766 10.1256 12.375C10.1255 12.6734 10.0069 12.9596 9.79578 13.1706C9.58469 13.3816 9.29844 13.5001 9 13.5ZM9 10.125C7.95487 10.125 7.08131 10.845 6.82987 11.8125H0V12.9375H6.82987C7.08131 13.905 7.95487 14.625 9 14.625C10.0451 14.625 10.9187 13.905 11.1701 12.9375H13.5V11.8125H11.1701C10.9187 10.845 10.0451 10.125 9 10.125ZM4.5 8.4375C4.35223 8.43746 4.20591 8.40832 4.0694 8.35174C3.93288 8.29515 3.80885 8.21223 3.70439 8.10771C3.59992 8.0032 3.51707 7.87913 3.46055 7.74259C3.40403 7.60605 3.37496 7.45971 3.375 7.31194C3.37504 7.16416 3.40418 7.01784 3.46076 6.88133C3.51735 6.74482 3.60027 6.62079 3.70479 6.51633C3.8093 6.41186 3.93338 6.329 4.06991 6.27249C4.20645 6.21597 4.35279 6.1869 4.50056 6.18694C4.79901 6.18701 5.0852 6.30564 5.29617 6.51672C5.50715 6.72781 5.62564 7.01406 5.62556 7.3125C5.62549 7.61094 5.50686 7.89713 5.29578 8.10811C5.08469 8.31909 4.79844 8.43757 4.5 8.4375ZM4.5 5.0625C3.45487 5.0625 2.58131 5.7825 2.32987 6.75H0V7.875H2.32987C2.58131 8.8425 3.45487 9.5625 4.5 9.5625C5.54513 9.5625 6.41869 8.8425 6.67013 7.875H13.5V6.75H6.67013C6.41869 5.7825 5.54513 5.0625 4.5 5.0625Z"/>
        </svg>
    {% when 'delete_bin' %}
        <svg
            class="{{- class -}}"
            width="16"
            height="16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.826 3.371h3.63a.514.514 0 0 1 0 1.029h-1.285v10.286a.514.514 0 0 1-.514.514H3.914a.51.51 0 0 1-.514-.514V4.4H2.114a.514.514 0 0 1 0-1.029h3.63c.036-.613.25-1.203.618-1.697C6.804 1.13 7.462.8 8.285.8s1.481.33 1.924.874c.366.494.58 1.084.617 1.697zM8.286 1.83c-.525 0-.885.195-1.122.493-.195.247-.319.617-.37 1.05h2.983c-.062-.433-.165-.803-.37-1.05-.247-.298-.597-.493-1.122-.493zM4.427 4.4v9.771h7.715V4.4H4.428zM6.43 5.836a.514.514 0 0 1 .878.364v6.171a.514.514 0 0 1-1.029 0V6.2c0-.136.055-.267.151-.364zm2.983 0a.514.514 0 0 1 .878.364v6.171a.514.514 0 1 1-1.029 0V6.2c0-.136.054-.267.15-.364z" fill="currentColor"/>
        </svg>
    {% when 'hamburger' %}
        <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 4H3V3H21.5V4ZM21.5 12H3V11H21.5V12ZM3 20H21.5V19H3V20Z" fill="currentColor"/>
        </svg>

    {% when 'fallback_icon' %}
        <svg
            class="{{- class -}}"
            fill="currentColor"
            width="24"
            height="24"
            viewBox="0 0 500 500"
            xmlns="http://www.w3.org/2000/svg"
        >
            <g>
                <g>
                    <path d="M328.105,287.731c-5.806-0.466-10.902,3.863-11.371,9.674c-0.095,1.183-0.197,2.362-0.302,3.536
                        c-0.521,5.807,3.763,10.937,9.571,11.458c0.321,0.029,0.639,0.043,0.955,0.043c5.403,0,10.009-4.128,10.502-9.614
                        c0.111-1.238,0.217-2.48,0.319-3.728C338.247,293.291,333.916,288.2,328.105,287.731z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M191.134,106.044c-16.732,0-30.345,13.613-30.345,30.344c0,16.732,13.613,30.345,30.345,30.345
                        s30.345-13.613,30.345-30.345C221.479,119.657,207.866,106.044,191.134,106.044z M191.135,145.62c-5.09,0-9.232-4.141-9.232-9.232
                        s4.141-9.231,9.232-9.231c5.09,0,9.232,4.14,9.232,9.231S196.225,145.62,191.135,145.62z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M320.866,106.044c-16.731,0-30.344,13.613-30.344,30.344c0,16.732,13.613,30.345,30.344,30.345
                        c16.732,0,30.344-13.613,30.344-30.345C351.21,119.657,337.597,106.044,320.866,106.044z M320.866,145.62
                        c-5.089,0-9.231-4.141-9.231-9.232s4.141-9.231,9.231-9.231s9.231,4.14,9.231,9.231S325.956,145.62,320.866,145.62z"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M392.792,433.058h-75.499c44.079-32.422,72.577-98.13,72.577-171.147c0-21.141-2.356-41.867-7.001-61.673
                        c8.907-18.778,13.421-38.926,13.421-59.949c0-10.726-1.228-21.379-3.624-31.701c-0.087-0.666-0.233-1.333-0.454-1.993
                        c-0.024-0.072-0.05-0.146-0.074-0.215c-7.387-29.755-24.694-56.69-48.813-75.895C318.279,10.541,288.083,0,256,0
                        c-32.071,0-62.26,10.536-87.303,30.47c-24.224,19.282-41.587,46.353-48.92,76.231c-0.052,0.186-0.096,0.372-0.137,0.558
                        c-2.603,10.718-3.928,21.828-3.928,33.03c0,21.026,4.515,41.172,13.421,59.947c-4.645,19.808-7.001,40.535-7.001,61.675
                        c0,73.018,28.498,138.725,72.578,171.147h-75.5c-5.83,0-10.557,4.726-10.557,10.557c0,5.831,4.726,10.557,10.557,10.557h79.632
                        l-7.151,19.844c-3.132,8.677-1.836,18.366,3.467,25.918c5.305,7.555,13.982,12.066,23.212,12.066H256h37.63
                        c9.23,0,17.907-4.511,23.212-12.066c5.303-7.552,6.599-17.241,3.468-25.914l-7.153-19.849h79.633
                        c5.829,0,10.557-4.726,10.557-10.557C403.348,437.785,398.623,433.058,392.792,433.058z M256,21.113
                        c34.195,0,65.477,14.369,87.425,38.031c-7.18-2.258-14.769-3.47-22.559-3.47c-20.141,0-39.082,7.841-53.341,22.088
                        c-4.496,4.5-8.35,9.469-11.525,14.794c-3.176-5.327-7.032-10.298-11.531-14.802c-14.253-14.239-33.194-22.081-53.335-22.081
                        c-7.791,0-15.38,1.212-22.561,3.471C190.523,35.483,221.806,21.113,256,21.113z M140.093,112.519
                        c7.79-21.391,28.232-35.731,51.042-35.731c14.505,0,28.147,5.648,38.405,15.896c10.256,10.266,15.904,23.907,15.904,38.413v45.531
                        c0,5.831,4.726,10.557,10.557,10.557c5.829,0,10.557-4.726,10.557-10.557v-45.531c0-14.506,5.649-28.147,15.897-38.405
                        c10.266-10.256,23.907-15.904,38.413-15.904c22.828,0,43.274,14.358,51.052,35.778c2.157,9.004,3.257,18.327,3.257,27.724
                        c0,19-4.331,37.147-12.874,53.938c-9.168,18.034-22.897,33.561-39.707,44.902c-19.696,13.295-42.724,20.323-66.594,20.323
                        c-23.87,0-46.897-7.028-66.596-20.325c-16.798-11.335-30.521-26.85-39.691-44.874c-0.056-0.107-0.103-0.219-0.161-0.323
                        c-8.443-16.707-12.728-34.751-12.728-53.641C136.825,130.867,137.927,121.534,140.093,112.519z M165.977,364.611
                        c-14.871-29.854-22.733-65.367-22.733-102.7c0-11.858,0.828-23.555,2.413-35.005c7.81,9.933,16.953,18.807,27.159,26.334
                        c-0.054,2.958-0.083,5.835-0.083,8.671c0,49.425,7.716,96.16,21.727,131.595c2.832,7.162,5.881,13.736,9.122,19.701
                        C188.98,401.408,176.001,384.733,165.977,364.611z M245.444,490.887h-27.075c-3.399,0-5.281-2.158-5.933-3.086
                        c-0.65-0.926-2.039-3.426-0.886-6.62l9.733-27.009h24.16V490.887z M299.564,487.801c-0.651,0.928-2.534,3.086-5.933,3.086h-27.074
                        v-36.715h24.16l9.733,27.014C301.603,484.376,300.214,486.875,299.564,487.801z M308.469,413.164
                        c11.243-20.664,20.056-48.428,25.418-81.678c0.929-5.755-2.984-11.174-8.741-12.103c-5.756-0.928-11.174,2.985-12.102,8.741
                        c-9.845,61.039-33.054,104.187-56.483,104.929c-0.185,0.006-0.378,0.004-0.562,0.004c-0.184,0-0.376,0.002-0.605-0.005
                        c-28.706-0.91-60.642-69.481-61.528-166.984c19.217,9.512,40.376,14.497,62.132,14.497c21.757,0,42.916-4.985,62.133-14.496
                        c-0.016,1.69-0.038,3.375-0.073,5.042c-0.119,5.828,4.509,10.652,10.338,10.771c0.074,0.001,0.148,0.002,0.221,0.002
                        c5.729,0,10.432-4.586,10.55-10.34c0.065-3.175,0.098-6.416,0.098-9.633c0-2.796-0.031-5.703-0.084-8.671
                        c10.207-7.528,19.35-16.402,27.16-26.335c1.586,11.45,2.413,23.147,2.413,35.005c0,37.334-7.862,72.846-22.733,102.701
                        C336.012,384.709,323.05,401.369,308.469,413.164z"/>
                </g>
            </g>
        </svg>

    {% when 'atc_tick' %}
        <svg
            class="{{- class -}}"
            width="64"
            height="64"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle class="tick-circle" cx="32" cy="32" r="26" stroke="currentColor"/>
            <path class="tick-path" d="M20 34 L28 42 L44 24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    {% when 'logo' %}
        <svg
            class="{{- class -}}"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 135 62"
        >
            <g clip-path="url(#clip0_3547_3107)">
            <path fill="white" d="M19.6904 48.3887C19.6904 48.4712 19.6785 48.5183 19.643 48.5183C19.1098 48.5183 18.6123 48.7069 18.1502 49.0958C17.6882 49.4847 17.3564 50.0385 17.155 50.7692L14.0629 61.5995C14.0629 61.5995 13.98 61.682 13.8259 61.682C13.6838 61.682 13.6008 61.6584 13.589 61.5995L9.44244 51.382L6.24367 61.5995C6.24367 61.5995 6.16073 61.682 6.00672 61.682C5.8764 61.682 5.79347 61.6584 5.74608 61.5995L1.75353 50.0385C1.54028 49.4375 1.31518 49.0368 1.06639 48.8365C0.817597 48.6361 0.485872 48.5301 0.0593689 48.5301C0.0119797 48.5301 -0.0117149 48.4829 -0.0117149 48.4005C-0.0117149 48.318 0.0119797 48.2708 0.0593689 48.2708L0.616192 48.2944C0.93607 48.3297 1.29149 48.3415 1.6943 48.3415C2.60654 48.3415 3.48324 48.3297 4.31255 48.2944C4.56135 48.2826 4.84568 48.2708 5.16556 48.2708C5.18925 48.2708 5.21295 48.318 5.21295 48.4005C5.21295 48.4829 5.2011 48.5301 5.16556 48.5301C4.28886 48.5301 3.85051 48.8483 3.85051 49.4729C3.85051 49.7204 3.8979 49.9914 4.00452 50.286L6.7294 58.2172L9.84525 48.2826C9.84525 48.2826 9.97557 48.2237 10.1059 48.2237C10.2481 48.2237 10.331 48.2473 10.3428 48.2826L14.4183 58.2997L16.5034 50.8399C16.5982 50.4392 16.6575 50.1328 16.6575 49.9207C16.6575 49.0015 16.0651 48.5301 14.8804 48.5301C14.8448 48.5301 14.833 48.4829 14.833 48.4005C14.833 48.318 14.8448 48.2708 14.8804 48.2708L16.0414 48.2944C16.7285 48.3297 17.2972 48.3415 17.7356 48.3415C18.0199 48.3415 18.3516 48.3297 18.7189 48.2944L19.643 48.2708C19.643 48.2708 19.6904 48.318 19.6904 48.4005"></path>
            <path fill="white" d="M28.5991 60.8336C28.6701 61.0339 28.8123 61.1635 29.0374 61.2342C29.2625 61.305 29.6179 61.3403 30.1037 61.3403C30.1511 61.3403 30.1629 61.3874 30.1629 61.4699C30.1629 61.5524 30.1392 61.5996 30.1037 61.5996C29.6416 61.5996 29.2744 61.5996 29.0137 61.576L27.4262 61.5524L25.8742 61.576C25.6017 61.5878 25.2344 61.5996 24.7605 61.5996C24.7131 61.5996 24.6895 61.5524 24.6895 61.4699C24.6895 61.3874 24.7131 61.3403 24.7605 61.3403C25.2463 61.3403 25.6017 61.305 25.8268 61.2342C26.04 61.1635 26.2059 61.0221 26.2888 60.8218C26.3718 60.6097 26.4192 60.2915 26.4192 59.8672V49.9797C26.4192 49.5555 26.3718 49.2373 26.2888 49.0369C26.2059 48.8366 26.0519 48.6952 25.8268 48.6245C25.6017 48.542 25.2463 48.5066 24.7605 48.5066C24.7131 48.5066 24.6895 48.4595 24.6895 48.377C24.6895 48.2945 24.7131 48.2474 24.7605 48.2474L25.8742 48.2709C26.5021 48.2945 27.0234 48.3181 27.4262 48.3181C27.8645 48.3181 28.4095 48.3063 29.0374 48.2709L30.1155 48.2474C30.1155 48.2474 30.1748 48.2945 30.1748 48.377C30.1748 48.4595 30.1511 48.5066 30.1155 48.5066C29.6416 48.5066 29.2981 48.5538 29.073 48.6363C28.8479 48.7188 28.7057 48.872 28.6228 49.0723C28.5398 49.2844 28.5043 49.5908 28.5043 50.0269V59.879C28.5043 60.3268 28.5398 60.645 28.6109 60.8453"></path>
            <path fill="white" d="M50.8371 48.3887C50.8371 48.4712 50.8252 48.5183 50.7897 48.5183C50.221 48.5183 49.7708 48.7186 49.4628 49.1311C49.1429 49.5318 48.9889 50.121 48.9889 50.8753V61.9177C48.9889 61.9177 48.9534 61.9884 48.8823 62.0002C48.8112 62.0119 48.7638 62.0002 48.7283 61.9766L38.6581 50.3332V59.0304C38.6581 59.7846 38.8121 60.3621 39.1083 60.7627C39.4044 61.1634 39.8428 61.3638 40.4115 61.3638C40.447 61.3638 40.4589 61.4109 40.4589 61.4934C40.4589 61.5759 40.447 61.623 40.4115 61.623C40.0205 61.623 39.7362 61.623 39.5348 61.5995L38.3974 61.5759L37.1298 61.5995C36.9047 61.6113 36.5729 61.623 36.1464 61.623C36.0991 61.623 36.0872 61.5759 36.0872 61.4934C36.0872 61.4109 36.1109 61.3638 36.1464 61.3638C36.7625 61.3638 37.2364 61.1634 37.58 60.7627C37.9117 60.3621 38.0894 59.7846 38.0894 59.0304V49.6732C37.6866 49.249 37.3312 48.9426 36.9994 48.7776C36.6796 48.6126 36.3478 48.5183 36.0043 48.5183C35.9806 48.5183 35.9569 48.4712 35.9569 48.3887C35.9569 48.3062 35.9687 48.259 36.0043 48.259L36.8691 48.2826C37.0587 48.2944 37.3193 48.3062 37.6629 48.3062L39.0372 48.2826C39.203 48.2708 39.4163 48.259 39.6532 48.259C39.7717 48.259 39.8546 48.2826 39.9139 48.3415C39.9731 48.4005 40.0561 48.5065 40.1745 48.6833C40.4233 49.0133 40.601 49.2372 40.7077 49.3668L48.4202 58.4294V50.8635C48.4202 50.1093 48.2662 49.5318 47.9701 49.1193C47.6739 48.7069 47.2355 48.5065 46.6787 48.5065C46.655 48.5065 46.6313 48.4594 46.6313 48.3769C46.6313 48.2944 46.6432 48.2473 46.6787 48.2473L47.5554 48.2708C48.0174 48.3062 48.3966 48.318 48.6927 48.318C48.9889 48.318 49.368 48.3062 49.8538 48.2708L50.8016 48.2473C50.8016 48.2473 50.8489 48.2944 50.8489 48.3769"></path>
            <path fill="white" d="M65.9889 58.2291C65.9889 58.2291 66.0718 58.2291 66.1073 58.2645C66.1429 58.288 66.1547 58.2998 66.1547 58.3116C66.0126 59.3958 65.9415 60.3857 65.9415 61.2814C65.9415 61.3992 65.9178 61.4817 65.8704 61.5289C65.823 61.576 65.7401 61.5996 65.6098 61.5996H56.2859C56.2859 61.5996 56.2148 61.5524 56.2148 61.4699C56.2148 61.3874 56.2385 61.3403 56.2859 61.3403C56.7717 61.3403 57.1271 61.305 57.3522 61.2342C57.5773 61.1635 57.7195 61.0221 57.8024 60.8218C57.8853 60.6097 57.9209 60.2915 57.9209 59.8672V49.9797C57.9209 49.5555 57.8853 49.2373 57.8024 49.0369C57.7195 48.8366 57.5654 48.6952 57.3403 48.6245C57.1152 48.542 56.7598 48.5066 56.2859 48.5066C56.2385 48.5066 56.2148 48.4595 56.2148 48.377C56.2148 48.2945 56.2385 48.2474 56.2859 48.2474H65.2188C65.361 48.2474 65.432 48.3063 65.432 48.4359L65.4794 51.2171C65.4794 51.2171 65.4439 51.2643 65.361 51.2761C65.278 51.2878 65.2306 51.2761 65.2188 51.2289C64.8752 49.6026 63.88 48.7895 62.2333 48.7895H61.3803C60.859 48.7895 60.5036 48.8837 60.2903 49.0723C60.0771 49.2609 59.9704 49.5673 59.9704 50.0151V54.3755H62.0319C63.6076 54.3755 64.3895 53.8452 64.3895 52.7963C64.3895 52.7492 64.425 52.7256 64.508 52.7256C64.5909 52.7256 64.6264 52.7492 64.6264 52.7963L64.6027 54.6583L64.6264 55.66C64.662 56.1196 64.6738 56.485 64.6738 56.7678C64.6738 56.7914 64.6264 56.8149 64.5435 56.8149C64.4606 56.8149 64.4132 56.8031 64.4132 56.7678C64.4132 55.5422 63.6076 54.9294 62.0082 54.9294H59.9704V59.7729C59.9704 60.2443 60.0534 60.5743 60.2429 60.7511C60.4206 60.9396 60.7405 61.0339 61.2026 61.0339H62.257C64.1762 61.0339 65.3965 60.1029 65.9059 58.2527C65.9059 58.2291 65.9296 58.2055 65.9889 58.2055"></path>
            <path fill="white" d="M83.7611 59.7965C83.7611 60.1854 83.7966 60.4564 83.8558 60.6332C83.9151 60.7982 84.0454 60.9161 84.235 60.975C84.4245 61.0339 84.7207 61.0575 85.1354 61.0575H86.4267C87.4456 61.0575 88.2986 60.7746 89.0094 60.209C89.7084 59.6433 90.1705 58.8891 90.4074 57.9345C90.4193 57.8874 90.4666 57.8756 90.5377 57.8756C90.6088 57.8756 90.6444 57.9109 90.6444 57.9463C90.514 59.2897 90.4548 60.3975 90.4548 61.2814C90.4548 61.3992 90.4311 61.4817 90.3956 61.5289C90.3482 61.576 90.2652 61.5996 90.1349 61.5996H80.0884C80.0884 61.5996 80.041 61.5524 80.041 61.4699C80.041 61.3874 80.0529 61.3403 80.0884 61.3403C80.5741 61.3403 80.9296 61.305 81.1547 61.2342C81.3798 61.1635 81.5219 61.0221 81.6049 60.8218C81.6878 60.6214 81.7233 60.3032 81.7233 59.8672V49.9797C81.7233 49.5555 81.6878 49.2373 81.6049 49.0369C81.5219 48.8366 81.3679 48.6952 81.1428 48.6245C80.9177 48.542 80.5623 48.5066 80.0884 48.5066C80.0647 48.5066 80.041 48.4595 80.041 48.377C80.041 48.2945 80.0529 48.2474 80.0884 48.2474L81.1784 48.2709C81.8063 48.3063 82.3157 48.3181 82.7185 48.3181C83.145 48.3181 83.6781 48.3063 84.3061 48.2709L85.3842 48.2474C85.3842 48.2474 85.4434 48.2945 85.4434 48.377C85.4434 48.4595 85.4197 48.5066 85.3842 48.5066C84.9103 48.5066 84.5667 48.542 84.3416 48.6245C84.1165 48.707 83.9743 48.8484 83.8914 49.0487C83.8085 49.2491 83.7729 49.5673 83.7729 50.0033V59.7847L83.7611 59.7965Z"></path>
            <path fill="white" d="M100.087 60.8336C100.158 61.0339 100.3 61.1635 100.526 61.2342C100.751 61.305 101.106 61.3403 101.592 61.3403C101.639 61.3403 101.651 61.3874 101.651 61.4699C101.651 61.5524 101.627 61.5996 101.592 61.5996C101.13 61.5996 100.763 61.5996 100.502 61.576L98.9143 61.5524L97.3623 61.576C97.0898 61.5878 96.7226 61.5996 96.2487 61.5996C96.2013 61.5996 96.1895 61.5524 96.1895 61.4699C96.1895 61.3874 96.2131 61.3403 96.2487 61.3403C96.7344 61.3403 97.0898 61.305 97.3149 61.2342C97.54 61.1635 97.6941 61.0221 97.777 60.8218C97.8599 60.6097 97.9073 60.2915 97.9073 59.8672V49.9797C97.9073 49.5555 97.8599 49.2373 97.777 49.0369C97.6941 48.8366 97.54 48.6952 97.3149 48.6245C97.0898 48.542 96.7344 48.5066 96.2487 48.5066C96.2013 48.5066 96.1895 48.4595 96.1895 48.377C96.1895 48.2945 96.2131 48.2474 96.2487 48.2474L97.3623 48.2709C97.9902 48.2945 98.5115 48.3181 98.9143 48.3181C99.3527 48.3181 99.8977 48.3063 100.526 48.2709L101.604 48.2474C101.604 48.2474 101.663 48.2945 101.663 48.377C101.663 48.4595 101.639 48.5066 101.604 48.5066C101.13 48.5066 100.786 48.5538 100.561 48.6363C100.336 48.7188 100.194 48.872 100.111 49.0723C100.028 49.2726 99.9924 49.5908 99.9924 50.0269V59.879C99.9924 60.3268 100.028 60.645 100.099 60.8453"></path>
            <path fill="white" d="M110.797 51.924C111.058 52.3247 111.39 52.6782 111.781 52.9847C112.171 53.2793 112.705 53.6446 113.38 54.0571C114.103 54.5167 114.683 54.9056 115.11 55.2356C115.536 55.5655 115.892 55.9662 116.188 56.4376C116.484 56.9208 116.626 57.4747 116.626 58.1111C116.626 58.8417 116.437 59.4899 116.057 60.0556C115.678 60.6212 115.145 61.069 114.446 61.3872C113.747 61.7054 112.965 61.8704 112.077 61.8704C111.472 61.8704 110.856 61.7879 110.217 61.6347C109.577 61.4815 109.091 61.2812 108.771 61.0573C108.641 60.9748 108.57 60.8334 108.558 60.6566L108.428 57.4158V57.3922C108.428 57.3922 108.463 57.3097 108.534 57.2979C108.605 57.2979 108.653 57.3215 108.665 57.3686C109.139 58.5471 109.672 59.5134 110.288 60.2677C110.892 61.0219 111.674 61.399 112.622 61.399C113.238 61.399 113.747 61.234 114.174 60.8923C114.588 60.5623 114.802 59.9966 114.802 59.2188C114.802 58.5942 114.659 58.0403 114.387 57.569C114.103 57.0976 113.759 56.7087 113.356 56.3905C112.953 56.0723 112.397 55.6952 111.698 55.2356C111.01 54.7995 110.477 54.4224 110.086 54.116C109.695 53.8096 109.376 53.4325 109.103 52.9847C108.831 52.5368 108.7 52.0183 108.7 51.4173C108.7 50.6748 108.902 50.0502 109.328 49.5435C109.743 49.0367 110.288 48.6478 110.951 48.4004C111.615 48.1529 112.314 48.0232 113.048 48.0232C113.534 48.0232 114.02 48.0704 114.505 48.1647C114.991 48.2589 115.394 48.3768 115.726 48.5182C115.856 48.5653 115.939 48.6125 115.986 48.6832C116.034 48.7539 116.046 48.8246 116.046 48.9307L116.117 51.8415C116.117 51.8415 116.081 51.9122 115.998 51.9358C115.915 51.9594 115.868 51.9358 115.856 51.8887C115.572 51.0166 115.181 50.2388 114.707 49.5317C114.233 48.8246 113.51 48.4711 112.551 48.4711C111.911 48.4711 111.39 48.6596 111.01 49.0249C110.631 49.3903 110.442 49.897 110.442 50.5452C110.442 51.0755 110.572 51.5351 110.845 51.9476"></path>
            <path fill="white" d="M124.433 49.5082C123.864 50.0385 123.437 50.8517 123.129 51.9359C123.129 51.9595 123.094 51.983 123.011 51.983C122.928 51.983 122.892 51.9595 122.892 51.9241C122.952 51.3702 123.011 50.6514 123.082 49.7793C123.153 48.9072 123.189 48.2472 123.189 47.7994C123.189 47.7287 123.224 47.6934 123.307 47.6934C123.39 47.6934 123.426 47.7287 123.426 47.7994C123.426 48.1176 123.828 48.2708 124.634 48.2708C125.866 48.318 127.3 48.3415 128.946 48.3415C129.788 48.3415 130.688 48.3297 131.636 48.2944L133.093 48.2708C133.638 48.2708 134.029 48.2355 134.289 48.1648C134.538 48.094 134.704 47.9526 134.775 47.7405C134.787 47.6816 134.834 47.658 134.906 47.658C134.977 47.658 135.012 47.6816 135.012 47.7405C134.965 48.1765 134.929 48.8483 134.882 49.7439C134.834 50.6396 134.811 51.3702 134.811 51.9241C134.811 51.9713 134.775 51.983 134.692 51.983C134.609 51.983 134.562 51.9595 134.55 51.9241C134.408 50.8281 134.064 50.015 133.543 49.4964C133.01 48.9779 132.299 48.7186 131.399 48.7186C130.996 48.7186 130.7 48.754 130.51 48.8247C130.321 48.8954 130.19 49.025 130.119 49.2018C130.048 49.3786 130.024 49.6614 130.024 50.0503V59.9024C130.024 60.3385 130.072 60.6685 130.155 60.8688C130.238 61.0691 130.415 61.1988 130.676 61.2695C130.937 61.3402 131.34 61.3756 131.896 61.3756C131.944 61.3756 131.956 61.4227 131.956 61.5052C131.956 61.5877 131.932 61.6348 131.896 61.6348C131.399 61.6348 130.996 61.6348 130.712 61.6112L128.946 61.5877L127.276 61.6112C126.98 61.623 126.565 61.6348 126.032 61.6348C126.008 61.6348 125.985 61.5877 125.985 61.5052C125.985 61.4227 125.996 61.3756 126.032 61.3756C126.589 61.3756 127.003 61.3402 127.264 61.2695C127.525 61.1988 127.702 61.0574 127.797 60.857C127.892 60.6567 127.939 60.3385 127.939 59.9024V50.015C127.939 49.6496 127.904 49.3786 127.833 49.2018C127.762 49.025 127.631 48.9072 127.442 48.8365C127.252 48.7658 126.968 48.7304 126.589 48.7304C125.712 48.7304 125.001 49.0015 124.433 49.5318"></path>
            <path fill="#B29F54" d="M73.3929 2.08598H72.5044V2.54559C72.2793 3.53552 71.7343 4.25439 71.0116 4.51366C70.4904 4.70221 69.9454 4.63151 69.5189 4.31331C69.1279 4.01869 68.9384 3.58265 68.9976 3.13483C69.045 2.7695 69.2701 2.48667 69.5781 2.36882C70.2653 2.10955 70.7155 2.58094 70.7628 2.63987L71.0946 2.35703L71.4381 2.0742C71.4381 2.0742 70.6325 1.19033 69.4478 1.52031L67.7062 -0.0117188L65.9647 1.52031C64.78 1.19033 63.998 2.02706 63.9743 2.0742L64.6496 2.63987C64.6496 2.63987 65.1472 2.10955 65.8344 2.36882C66.1424 2.48667 66.3556 2.7695 66.4149 3.13483C66.4741 3.58265 66.2846 4.01869 65.8936 4.31331C65.4671 4.63151 64.9221 4.70221 64.4008 4.51366C63.6782 4.25439 63.1332 3.53552 62.9081 2.54559V2.08598H62.0195V7.42451H73.3811V2.08598H73.3929ZM62.9199 6.55243V4.50187C63.2517 4.89077 63.6426 5.18539 64.1047 5.35038C64.389 5.45644 64.6852 5.50358 64.9814 5.50358C65.5026 5.50358 66.0121 5.3386 66.4267 5.0204C67.0783 4.53723 67.3982 3.783 67.2916 3.01698C67.2323 2.60451 67.0309 2.27454 66.7703 2.00349L67.7181 1.16676L68.6659 2.00349C68.4052 2.27454 68.2038 2.60451 68.1446 3.01698C68.038 3.783 68.3578 4.53723 69.0094 5.0204C69.4359 5.3386 69.9335 5.50358 70.4548 5.50358C70.751 5.50358 71.0472 5.45644 71.3315 5.35038C71.7936 5.18539 72.1845 4.87899 72.5162 4.50187V6.55243H62.9199Z"></path>
            <path fill="#B29F54" d="M79.613 26.7753L79.4116 26.3982C79.3642 26.3039 78.144 24.0765 75.0874 24.2769L75.1348 25.0193C76.9592 24.9015 78.0137 25.8089 78.4639 26.351C77.907 26.4807 76.9474 26.6103 76.0944 26.3039C74.8267 25.8561 74.3647 25.0193 73.4998 23.4991C73.0615 22.7213 72.5165 21.7549 71.7109 20.6C71.7109 20.6 71.1896 19.9165 70.6209 19.6454C71.2844 19.7515 71.8531 19.9754 72.5047 20.4115C73.0141 20.7532 73.4998 21.26 73.8434 21.6371L73.9145 21.7196C75.0281 22.9098 76.6394 23.0748 76.7104 23.0748L77.1606 23.1102L77.1251 22.6624C77.1133 22.462 76.9237 20.6825 76.0588 19.9754C75.5494 19.5512 74.8504 19.233 73.9856 19.0326L73.8197 19.7633C74.5779 19.9401 75.1703 20.1993 75.585 20.5529C75.9759 20.8829 76.201 21.6607 76.3076 22.2381C75.8219 22.1085 75.0518 21.8256 74.4832 21.2128L74.4121 21.1303C74.033 20.7297 73.5235 20.164 72.9312 19.7869C71.8531 19.0798 70.9645 18.8677 69.7561 18.8087V18.7852H68.9979C68.8912 18.7852 68.8083 18.7852 68.6898 18.7852C68.4647 18.7852 68.2278 18.7852 67.979 18.7852C67.8487 18.7852 67.7065 18.7852 67.5643 18.7852C67.4222 18.7852 67.28 18.7852 67.1497 18.7852C66.9009 18.7852 66.6639 18.7852 66.4388 18.7852C66.3322 18.7852 66.2374 18.7852 66.1308 18.7852H65.3726V18.8087C64.1642 18.8677 63.2756 19.068 62.1975 19.7869C61.617 20.1758 61.0957 20.7297 60.7166 21.1303L60.6455 21.2128C60.065 21.8256 59.3068 22.1203 58.821 22.2381C58.9276 21.6607 59.1527 20.8829 59.5437 20.5529C59.9584 20.2111 60.5507 19.9401 61.309 19.7633L61.1431 19.0326C60.2782 19.233 59.5792 19.5512 59.0698 19.9754C58.205 20.6943 58.0273 22.4738 58.0036 22.6624L57.968 23.1102L58.4182 23.0748C58.4893 23.0748 60.1005 22.9098 61.2142 21.7196L61.2853 21.6371C61.6407 21.26 62.1146 20.7414 62.624 20.4115C63.2875 19.9754 63.8443 19.7515 64.5077 19.6454C63.9391 19.9519 63.4178 20.6 63.4178 20.6C62.624 21.7431 62.079 22.7213 61.6288 23.4991C60.7758 25.0193 60.3019 25.8561 59.0343 26.3039C58.1813 26.6103 57.2216 26.4807 56.6648 26.351C57.1269 25.8089 58.1694 24.8897 59.9939 25.0193L60.0413 24.2769C56.9847 24.0765 55.7644 26.3039 55.717 26.3982L55.5156 26.7753L55.9184 26.9167C55.9895 26.9403 57.7311 27.5531 59.2831 26.9992C60.8114 26.4571 61.3919 25.42 62.2804 23.8644C62.3871 23.6759 62.5292 23.4402 62.6477 23.2398C62.6477 24.654 63.323 25.5732 63.9391 26.0918C64.6144 26.6692 65.3133 26.8813 65.3489 26.8931L65.6569 26.9874L65.7991 26.7046C65.7991 26.7046 66.1308 26.021 66.119 25.1608C66.119 24.3476 65.8228 23.1927 64.4603 22.2735L64.0338 22.8863C65.6332 23.9587 65.4318 25.4082 65.2423 26.0446C64.6025 25.75 63.2875 24.9133 63.3822 23.0866C63.477 21.3189 64.4248 20.1758 66.0005 19.7515C65.7872 20.0343 65.6451 20.3643 65.6569 20.7414C65.6688 21.7196 66.4744 22.2499 67.0312 22.2499V21.5075C66.8535 21.5075 66.4151 21.2718 66.4033 20.7297C66.4033 20.4822 66.4862 20.27 66.6639 20.0933C66.818 19.9401 67.1023 19.7751 67.5643 19.669C68.0264 19.7751 68.3107 19.9401 68.4647 20.0933C68.6424 20.27 68.7254 20.4822 68.7254 20.7297C68.7254 21.2718 68.2752 21.5075 68.0975 21.5075V22.2499C68.6543 22.2499 69.4599 21.7078 69.4717 20.7414C69.4717 20.3761 69.3414 20.0461 69.1282 19.7515C70.7039 20.1758 71.6517 21.3189 71.7464 23.0866C71.8412 24.9133 70.5262 25.75 69.8864 26.0446C69.6968 25.4082 69.4954 23.9587 71.0948 22.8863L70.6683 22.2735C69.3059 23.1927 69.0097 24.3476 69.0097 25.1608C69.0097 26.0328 69.3177 26.681 69.3296 26.7046L69.4717 26.9874L69.7798 26.8931C69.7798 26.8931 70.5025 26.6692 71.1896 26.0918C71.8057 25.5732 72.481 24.654 72.481 23.2398C72.5994 23.4519 72.7416 23.6876 72.8482 23.8644C73.7368 25.4318 74.3173 26.4571 75.8456 26.9992C77.3976 27.5531 79.1391 26.9403 79.2102 26.9167L79.613 26.7753Z"></path>
            <path fill="#B29F54" d="M70.1711 12.1504C71.3085 10.854 71.0597 8.79167 71.0478 8.6974H69.9697C69.9697 8.6974 70.2067 10.5358 69.3892 11.4668C69.0101 11.9029 68.4651 12.115 67.7187 12.115C66.9723 12.115 66.4274 11.9029 66.0483 11.4668C65.2308 10.524 65.4677 8.70918 65.4677 8.6974H64.4252C64.4133 8.77989 64.129 10.8422 65.2545 12.1504C65.7284 12.6925 66.4037 12.9635 67.1974 13.0696V15.7919C67.1974 16.8289 65.9298 16.8761 65.7876 16.8761V17.9131C66.3326 17.9131 67.1737 17.6892 67.7187 17.0882C68.2637 17.6774 69.093 17.9131 69.6498 17.9131V16.8761C69.6498 16.8761 68.24 16.8643 68.24 15.7919V13.0696C69.0338 12.9635 69.7091 12.7042 70.183 12.1504H70.1711Z"></path>
            <path fill="#B29F54" d="M97.5152 12.0914L98.0484 12.8809C100.465 11.2782 100.347 8.52055 100.347 8.40271L100.323 7.83703L99.7662 7.96667C99.6122 8.00202 95.9159 8.93302 95.4657 12.5627C95.2998 13.8355 95.6789 14.7783 96.3187 16.3221C96.5201 16.8289 96.757 17.3945 97.0058 18.0781C97.5152 19.4333 97.4678 20.6943 96.8755 21.6371C96.3661 22.4502 95.4657 22.957 94.352 23.063C93.4398 23.1455 92.5512 22.8627 91.9115 22.2735C91.3073 21.7313 90.9874 20.9771 90.9874 20.1404C90.9874 19.3626 91.1059 18.9737 91.2717 18.4198C91.3902 18.0191 91.5324 17.5713 91.6508 16.8878C91.8759 15.6504 91.8285 14.3305 91.5205 13.5645C92.2432 12.822 92.7645 11.9735 93.0607 11.0425C93.7715 8.73268 93.2858 6.76461 91.6745 5.51542C89.9448 4.17195 87.4806 4.00696 85.6916 5.13831C85.6442 5.17366 85.5969 5.20902 85.5495 5.24437C85.4902 5.29151 85.4192 5.33865 85.3599 5.38579C85.277 5.44471 85.2059 5.50364 85.1348 5.57435C85.1111 5.59792 85.0874 5.6097 85.0756 5.62148C84.7202 5.95146 84.4714 6.28144 84.3173 6.5407C84.1515 6.83532 84.033 7.11816 83.9738 7.38921C82.8246 8.28486 81.782 9.55762 81.4266 10.0644L81.2015 10.3943L83.6302 12.8102L83.9856 13.1638L84.3173 12.7984C84.3173 12.7984 84.7083 12.3742 85.3718 12.1621L85.0874 11.2546C84.6135 11.4078 84.2344 11.6435 83.9856 11.8321L82.4455 10.3001C83.0023 9.58119 84.1752 8.26129 85.277 7.66026C85.7983 7.37742 86.8764 7.03566 87.5635 7.34207C87.8952 7.48349 88.1085 7.77811 88.227 8.21415C88.535 9.46334 87.7768 10.3708 86.9001 11.4196C86.4143 11.9971 85.9286 12.5981 85.585 13.2934C83.1326 13.8119 81.6043 13.4348 80.0405 11.9264C79.7917 11.6907 79.7206 11.4668 79.6258 11.2193C79.3415 10.4061 78.915 10.0054 77.4222 9.94652C77.4222 9.94652 77.2208 9.91116 76.9957 9.93473C76.972 9.93473 76.9602 9.93473 76.9365 9.93473C76.6521 9.97009 76.2967 10.0644 75.965 10.3236C75.5267 10.6772 75.2779 11.2193 75.2305 11.9499L76.1664 12.0089C76.1901 11.561 76.3204 11.2428 76.5455 11.0661C76.6758 10.96 76.8299 10.9129 76.9602 10.8893C77.7066 10.8893 78.2041 10.96 78.4411 11.1014C78.5833 11.1839 78.6188 11.2782 78.7136 11.5493C78.8202 11.8439 78.9624 12.2328 79.3652 12.6217C80.6565 13.8709 81.9479 14.4483 83.6065 14.4719C83.4288 14.7312 83.2629 15.0493 83.0852 15.4618C82.8009 15.7682 82.5047 16.0039 82.1967 16.2043C81.628 16.0982 80.7987 15.3793 80.0642 14.7429C79.6614 14.3894 79.2704 14.0594 78.8913 13.7884C77.6947 12.9281 76.7351 13.4466 76.6995 13.4702L77.1616 14.2951C77.1616 14.2951 77.6473 14.0594 78.3345 14.5544C78.678 14.8019 79.0453 15.1201 79.4363 15.4618C79.9931 15.945 80.5499 16.4282 81.1067 16.7699C80.4433 17.0174 79.8746 17.0999 79.5784 17.1235C78.678 16.1571 77.979 15.9804 77.4341 15.9568C77.3985 15.9568 77.2564 15.9332 77.0668 15.9568C77.0668 15.9568 76.972 15.9568 76.9246 15.9568C76.6521 16.0039 76.3086 16.11 76.0005 16.3457C75.574 16.6757 75.3252 17.1706 75.2542 17.8188L76.1901 17.9131C76.2375 17.5242 76.356 17.2531 76.5692 17.0763C76.7114 16.9585 76.8772 16.9114 77.0194 16.8878C77.0313 16.8878 77.055 16.8878 77.0668 16.8878C77.5999 16.8878 78.0975 16.876 79.0098 17.9131L79.1519 18.0781H79.3652C79.4718 18.0781 82.0308 18.0545 83.8316 16.0393L83.8908 15.9804L83.9264 15.9096C84.4832 14.5544 84.8505 14.4719 85.822 14.2362C85.8338 14.2362 85.8457 14.2362 85.8693 14.2362C85.9049 14.2362 85.9404 14.2362 85.976 14.2126C86.0589 14.1891 86.1537 14.1655 86.2366 14.1419C89.3525 13.3405 91.4376 11.1957 91.4139 8.81517C91.402 7.60134 90.9874 6.56427 90.2647 5.82183C90.549 5.95146 90.8334 6.11645 91.0822 6.31679C92.3735 7.3185 92.7408 8.8741 92.1484 10.8186C91.6034 12.5745 90.1107 13.9769 87.7057 14.9669L88.0729 15.8389C89.1155 15.4029 90.004 14.8961 90.7386 14.3187C90.8571 14.9079 90.8926 15.8036 90.7149 16.7699C90.5964 17.3945 90.4661 17.8188 90.3595 18.1959C90.1818 18.7734 90.0277 19.2683 90.0277 20.1875C90.0277 21.2835 90.4661 22.297 91.2717 23.0159C91.4139 23.1455 91.5797 23.2634 91.7456 23.3694C91.6271 24.0765 91.5442 25.0311 91.8404 26.0328C92.2313 27.3763 93.1791 28.4133 94.66 29.144L95.904 32.8916H92.7171C92.8356 31.7249 93.3568 31.501 93.4398 31.4774L94.0914 31.3949L93.7596 30.7821C93.7596 30.7821 93.108 29.6272 91.7693 28.8494C88.9615 27.2113 88.0256 26.6338 87.7294 25.915C87.3977 25.1372 87.374 24.489 87.3503 23.8644C87.3147 23.0277 87.291 22.1674 86.5565 21.1775C85.431 19.669 85.2296 18.9737 85.1941 18.7851C86.1655 18.2313 87.2555 17.4535 87.3029 17.4181L86.746 16.6521C86.746 16.6521 85.5376 17.5124 84.578 18.0427C83.1089 18.8441 81.6399 19.233 79.8035 19.2919C78.524 19.339 77.4459 19.233 77.4341 19.233L77.3511 20.1758C77.3511 20.1758 78.0975 20.2465 79.2704 20.2465C79.46 20.2465 79.6495 20.2465 79.8391 20.2465C81.5095 20.1875 82.9549 19.8458 84.3292 19.2212C84.4595 19.6336 84.7675 20.27 85.4191 21.2246C84.9334 21.6371 83.6184 22.3677 81.4385 23.063L81.2252 23.1337L81.1423 23.3459C80.5973 24.7129 80.5973 24.9486 80.5973 25.0311V25.0665C80.5973 25.7264 80.5973 27.6945 79.9575 28.1659C79.5903 28.1305 78.7728 28.1069 78.1094 28.6373C77.517 29.1087 77.209 29.8865 77.209 30.9235V31.3949H81.6754L83.4525 28.6255V28.4841C83.4525 27.5295 83.8435 26.8578 84.578 26.5513C85.4665 26.1742 86.675 26.4217 87.3858 27.117C88.0019 27.7652 89.1155 28.4251 91.2717 29.6861C91.9352 30.075 92.3854 30.5464 92.646 30.8764C92.2313 31.2181 91.7456 31.937 91.7456 33.3865V33.8579H97.2191L95.442 28.4841L95.2524 28.4016C92.6934 27.2349 92.4564 25.3375 92.646 23.8526C93.0962 24.0058 93.5582 24.1001 94.044 24.1001C94.1743 24.1001 94.3165 24.1001 94.4468 24.0765C95.8566 23.9469 97.0058 23.2869 97.6811 22.2145C98.4393 21.0125 98.5104 19.4569 97.9062 17.8188C97.6456 17.1235 97.4086 16.546 97.2072 16.0393C96.603 14.5308 96.295 13.7766 96.4253 12.7513C96.6978 10.5711 98.4275 9.5694 99.3753 9.16872C99.2568 9.9583 98.8658 11.2782 97.5389 12.1621L97.5152 12.0914ZM90.4424 8.7916C90.4542 10.5004 89.0681 12.0796 86.9119 12.9045C87.1252 12.6099 87.3739 12.3153 87.6109 12.0324C88.5587 10.8893 89.5539 9.69904 89.1274 7.99024C88.9023 7.07102 88.3454 6.65855 87.9308 6.46999C87.1489 6.12823 86.2129 6.28144 85.5021 6.52892C85.5732 6.44642 85.6561 6.37571 85.739 6.305C86.5091 5.59791 87.6938 5.40936 88.7009 5.83361C89.8027 6.305 90.4543 7.37742 90.4661 8.7916H90.4424ZM84.187 25.6203C83.1326 26.0564 82.5166 27.0227 82.481 28.2837L81.1304 30.3932H78.1686C78.2278 29.91 78.4056 29.5447 78.678 29.3208C79.1756 28.9083 79.922 29.0615 79.922 29.0615L80.076 29.0969L80.2182 29.0262C81.5095 28.4369 81.5095 26.1153 81.5095 24.9957C81.5332 24.8425 81.7228 24.324 81.9005 23.8408C82.6469 23.5934 84.8505 22.8156 85.9167 21.967C86.3077 22.6034 86.3432 23.1691 86.3669 23.8644C86.3906 24.3712 86.4025 24.9133 86.5802 25.5496C85.7864 25.3139 84.9216 25.3139 84.187 25.6203Z"></path>
            <path fill="#B29F54" d="M84.2461 9.35754L84.8858 10.0528C85.336 9.65216 86.0469 9.16898 86.0587 9.16898L85.5256 8.37939C85.5256 8.37939 84.7437 8.89793 84.2461 9.35754Z"></path>
            <path fill="#B29F54" d="M55.0777 28.107C54.4379 27.6238 54.4379 25.6676 54.4379 25.0076V24.9723C54.4379 24.8898 54.4379 24.6541 53.8929 23.287L53.81 23.0749L53.5967 23.0042C51.405 22.3207 50.1018 21.5782 49.6161 21.1658C50.2677 20.223 50.5757 19.5866 50.706 19.1623C52.0803 19.7987 53.5257 20.1405 55.1961 20.1876C55.3857 20.1876 55.5752 20.1876 55.7648 20.1876C56.9377 20.1876 57.6248 20.1169 57.6841 20.1169L57.6011 19.1741C57.6011 19.1741 56.5112 19.2802 55.2317 19.233C53.3953 19.1741 51.9263 18.7852 50.4572 17.9838C49.4976 17.4535 48.301 16.605 48.2892 16.5932L47.7323 17.3593C47.7323 17.3593 48.8697 18.1724 49.8412 18.7263C49.8056 18.9149 49.6042 19.6102 48.4787 21.1186C47.7442 22.1085 47.7086 22.9688 47.6849 23.8056C47.6612 24.4302 47.6376 25.0783 47.3058 25.8561C47.0096 26.5632 46.0737 27.1524 43.2659 28.7905C41.9272 29.5683 41.2992 30.6761 41.2756 30.7233L40.9438 31.3361L41.5954 31.4186C41.6784 31.4421 42.1996 31.666 42.3181 32.8327H39.1312L40.3752 29.0852C41.8561 28.3663 42.8039 27.3174 43.1948 25.974C43.491 24.9723 43.4081 24.0059 43.2896 23.3106C43.4555 23.2045 43.6213 23.0867 43.7635 22.957C44.5691 22.2382 45.0075 21.2247 45.0075 20.1287C45.0075 19.2095 44.8534 18.7145 44.6757 18.1371C44.5573 17.7599 44.4388 17.3475 44.3203 16.7111C44.1426 15.7565 44.1663 14.8491 44.2966 14.2598C45.0311 14.8373 45.9197 15.344 46.9623 15.7801L47.3295 14.908C44.9245 13.9181 43.4318 12.5157 42.8868 10.7597C42.2826 8.82703 42.6617 7.27144 43.953 6.25794C44.2137 6.0576 44.4862 5.90439 44.7705 5.76298C44.0478 6.50542 43.6332 7.54249 43.6213 8.75632C43.5976 11.1486 45.6709 13.2817 48.7986 14.0831C48.8934 14.1066 48.9763 14.1302 49.0592 14.142C49.0592 14.142 49.1303 14.1656 49.1659 14.1656C49.1777 14.1656 49.1895 14.1656 49.2132 14.1656C50.1847 14.4013 50.552 14.4838 51.1088 15.839L51.1444 15.9097L51.2036 15.9686C53.0044 17.9838 55.5634 18.0074 55.67 18.0074H55.8833L56.0254 17.8424C56.9377 16.8054 57.4353 16.8054 57.9684 16.8172C57.9802 16.8172 58.0039 16.8172 58.0158 16.8172C58.158 16.8407 58.3238 16.8879 58.466 17.0057C58.6792 17.1707 58.8096 17.4535 58.8451 17.8424L59.781 17.7482C59.71 17.1 59.4612 16.605 59.0347 16.275C58.7266 16.0394 58.3831 15.9333 58.1106 15.8979C58.1106 15.8979 58.0158 15.8861 57.9684 15.8861C57.7788 15.8744 57.6367 15.8861 57.6011 15.8861C57.0562 15.9097 56.3572 16.0865 55.4568 17.0528C55.1606 17.0293 54.5919 16.9468 53.9285 16.6993C54.4853 16.3693 55.0421 15.8744 55.5989 15.3912C55.9899 15.0494 56.3572 14.7312 56.7007 14.4838C57.3879 13.9888 57.8736 14.2127 57.8736 14.2245L58.3357 13.3995C58.3357 13.3995 57.3405 12.8574 56.1439 13.7177C55.7648 13.9888 55.3857 14.3188 54.971 14.6723C54.2365 15.3087 53.4072 16.0276 52.8385 16.1336C52.5305 15.9333 52.2225 15.6858 51.95 15.3912C51.7841 14.9787 51.6064 14.6605 51.4287 14.4013C53.0755 14.3777 54.3787 13.7884 55.67 12.551C56.0728 12.1621 56.215 11.7615 56.3216 11.4786C56.4164 11.2076 56.4638 11.1133 56.5941 11.0308C56.8311 10.8894 57.3286 10.8187 58.075 10.8187C58.2053 10.8422 58.3594 10.8894 58.4897 10.9954C58.7148 11.1722 58.8451 11.4904 58.8688 11.9382L59.8047 11.8793C59.7573 11.1604 59.5085 10.6065 59.0702 10.253C58.7385 9.99373 58.3831 9.89945 58.0987 9.87588C58.0987 9.87588 58.0632 9.87588 58.0395 9.87588C57.8144 9.8641 57.6485 9.87588 57.613 9.87588C56.1202 9.94659 55.6937 10.3473 55.4094 11.1604C55.3146 11.4197 55.2435 11.6318 54.9947 11.8675C53.4309 13.376 51.9144 13.7413 49.4502 13.2346C49.1066 12.5393 48.609 11.9382 48.1351 11.3608C47.2584 10.3119 46.5002 9.40449 46.8082 8.1553C46.9149 7.70747 47.1281 7.42464 47.4717 7.28322C48.1588 6.97681 49.2369 7.31857 49.7582 7.60141C50.86 8.20244 52.0211 9.52234 52.5897 10.2412L51.0496 11.7732C50.8008 11.5847 50.4217 11.349 49.9478 11.1958L49.6634 12.1032C50.3269 12.3153 50.7179 12.7396 50.7179 12.7396L51.0496 13.1049L51.405 12.7514L53.8337 10.3355L53.6086 10.0055C53.2532 9.49877 52.2106 8.22601 51.0614 7.33036C51.0022 7.05931 50.8837 6.76469 50.7179 6.48185C50.5638 6.22259 50.315 5.89261 49.9596 5.56263C49.9596 5.56263 49.9122 5.52728 49.9004 5.50371C49.8293 5.44479 49.7464 5.38586 49.6753 5.31515C49.6161 5.26801 49.5568 5.22087 49.4857 5.17374C49.4383 5.13838 49.4028 5.10303 49.3436 5.06767C47.5546 3.93633 45.0904 4.10132 43.3607 5.44479C41.7494 6.69398 41.2637 8.66205 41.9745 10.9719C42.2589 11.9147 42.7802 12.7514 43.5147 13.4938C43.2067 14.2598 43.1474 15.568 43.3844 16.8172C43.5147 17.5007 43.645 17.9485 43.7635 18.3492C43.9293 18.8913 44.0478 19.292 44.0478 20.0698C44.0478 20.8947 43.7161 21.6607 43.1237 22.2028C42.4721 22.7921 41.5836 23.0749 40.6832 22.9924C39.5695 22.8863 38.681 22.3796 38.1597 21.5664C37.5673 20.6236 37.52 19.3627 38.0294 18.0074C38.29 17.3239 38.5151 16.7464 38.7165 16.2515C39.3444 14.6959 39.7236 13.7649 39.5695 12.4921C39.1075 8.86239 35.423 7.93139 35.269 7.89603L34.7121 7.7664L34.6885 8.33207C34.6885 8.44992 34.57 11.2076 36.9868 12.8103L37.52 12.0207C36.1931 11.1369 35.8021 9.81696 35.6836 9.02738C36.6433 9.41628 38.3611 10.4298 38.6336 12.61C38.7639 13.647 38.4559 14.4013 37.8517 15.8979C37.6503 16.4047 37.4133 16.9821 37.1527 17.6774C36.5366 19.3155 36.6196 20.8711 37.3778 22.0732C38.0531 23.1456 39.2023 23.8056 40.6121 23.9352C40.7424 23.947 40.8846 23.9588 41.0149 23.9588C41.5006 23.9588 41.9745 23.8645 42.4129 23.7113C42.6024 25.208 42.3655 27.0935 39.8065 28.2602L39.6169 28.3427L37.8398 33.7166H43.3133V33.2452C43.3133 31.7957 42.8275 31.0886 42.4129 30.735C42.6735 30.4051 43.1237 29.9219 43.7872 29.5448C45.9434 28.2838 47.057 27.6238 47.6731 26.9757C48.3839 26.2804 49.5924 26.0447 50.4809 26.41C51.2154 26.7164 51.6064 27.3881 51.6064 28.3427V28.4841L53.3835 31.2536H57.8499V30.7822C57.8499 29.7451 57.5537 28.9791 56.9495 28.4959C56.2861 27.9656 55.4805 27.9774 55.1014 28.0245L55.0777 28.107ZM46.3225 5.84547C47.3295 5.42122 48.5024 5.60977 49.2843 6.31686C49.3673 6.38757 49.4502 6.47007 49.5213 6.54078C48.8104 6.29329 47.8745 6.14009 47.0926 6.48185C46.6661 6.67041 46.1211 7.08288 45.896 8.00209C45.4695 9.7109 46.4528 10.9012 47.4125 12.0443C47.6494 12.3271 47.8863 12.6217 48.1114 12.9164C45.9434 12.0914 44.5573 10.524 44.5809 8.80346C44.5928 7.40107 45.2325 6.31686 46.3462 5.84547H46.3225ZM53.8811 30.3815L52.5305 28.272C52.4831 27.011 51.867 26.0447 50.8245 25.6086C50.0899 25.3022 49.2251 25.2904 48.4313 25.5379C48.5972 24.9015 48.6209 24.3477 48.6446 23.8527C48.6683 23.1692 48.7157 22.6035 49.0948 21.9553C50.161 22.8156 52.3646 23.5816 53.111 23.8291C53.3006 24.3123 53.4783 24.8308 53.502 24.9723C53.502 26.1036 53.502 28.4252 54.7933 29.0145L54.9355 29.0852L55.0895 29.0498C55.0895 29.0498 55.8359 28.9084 56.3335 29.3091C56.606 29.533 56.7718 29.8865 56.8429 30.3815H53.8811Z"></path>
            <path fill="#B29F54" d="M50.7658 9.35754C50.2682 8.90971 49.5218 8.40296 49.4863 8.37939L48.9531 9.16898C48.9531 9.16898 49.6758 9.65216 50.126 10.0528L50.7658 9.35754Z"></path>
            <path fill="#B29F54" d="M60.4495 14.5564L59.8809 15.124L62.5411 17.761L63.1098 17.1934L60.4495 14.5564Z"></path>
            <path fill="#B29F54" d="M64.3361 13.2466L63.5918 13.5532L64.7116 16.2425L65.4559 15.9358L64.3361 13.2466Z"></path>
            <path fill="#B29F54" d="M75.0745 14.563L72.4277 17.1968L72.9975 17.7633L75.6443 15.1296L75.0745 14.563Z"></path>
            <path fill="#B29F54" d="M71.2081 13.2468L70.0877 15.9359L70.832 16.2427L71.9523 13.5536L71.2081 13.2468Z"></path>
            <path fill="#B29F54" d="M68.9025 27.4705C68.5708 27.4705 68.2865 27.5883 68.0377 27.7651V25.856H67.2202V27.7651C66.9714 27.6001 66.6752 27.4705 66.3554 27.4705C65.4668 27.4705 64.7441 28.1894 64.7441 29.0732C64.7441 29.9571 65.4194 30.5935 66.2487 30.6524C66.1421 30.8645 66.071 31.1002 66.071 31.3477C66.071 32.2316 66.7937 32.9504 67.6823 32.9504C68.5708 32.9504 69.2935 32.2316 69.2935 31.3477C69.2935 31.0884 69.2106 30.8527 69.1039 30.6288C69.8977 30.5345 70.5138 29.8864 70.5138 29.0732C70.5138 28.1894 69.7911 27.4705 68.9025 27.4705ZM65.5498 29.0732C65.5498 28.6372 65.9052 28.2836 66.3435 28.2836C66.7819 28.2836 67.1373 28.6372 67.1373 29.0732C67.1373 29.5093 66.7819 29.8628 66.3435 29.8628C65.9052 29.8628 65.5498 29.5093 65.5498 29.0732ZM67.6823 32.1373C67.2439 32.1373 66.8885 31.7837 66.8885 31.3477C66.8885 30.9117 67.2439 30.5581 67.6823 30.5581C68.1206 30.5581 68.476 30.9117 68.476 31.3477C68.476 31.7837 68.1206 32.1373 67.6823 32.1373ZM68.9025 29.8628C68.4642 29.8628 68.1088 29.5093 68.1088 29.0732C68.1088 28.6372 68.4642 28.2836 68.9025 28.2836C69.3409 28.2836 69.6963 28.6372 69.6963 29.0732C69.6963 29.5093 69.3409 29.8628 68.9025 29.8628Z"></path>
            </g>
            <defs>
            <clipPath id="clip0_3547_3107">
            <rect fill="white" height="62" width="135"></rect>
            </clipPath>
            </defs>
        </svg>
    {% when 'contact-square' %}
        <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M14.875 11.625C14.875 12.0007 14.7257 12.3611 14.4601 12.6267C14.1944 12.8924 13.8341 13.0417 13.4583 13.0417H4.95833L2.125 15.875V4.54167C2.125 4.16594 2.27426 3.80561 2.53993 3.53993C2.80561 3.27426 3.16594 3.125 3.54167 3.125H13.4583C13.8341 3.125 14.1944 3.27426 14.4601 3.53993C14.7257 3.80561 14.875 4.16594 14.875 4.54167V11.625Z" stroke="#A08735" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6.125 13V14.4583C6.125 14.8341 6.27426 15.1944 6.53993 15.4601C6.80561 15.7257 7.16594 15.875 7.54167 15.875H17.4583C17.8341 15.875 18.1944 15.7257 18.4601 15.4601C18.7257 15.1944 18.875 14.8341 18.875 14.4583V7.375C18.875 6.99928 18.7257 6.63894 18.4601 6.37327C18.1944 6.10759 17.8341 5.95833 17.4583 5.95833H15.3333" stroke="#A08735" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    {% when 'spinner' %}
        <svg
            class="w-5 h-5 text-current animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" opacity="0.2"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
        </svg>
    {% when 'star' %}
        <svg
            class="{{- class -}}"
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M10 15.27L16.18 19L14.54 11.97L20 7.24L12.81 6.63L10 0L7.19 6.63L0 7.24L5.46 11.97L3.82 19L10 15.27Z" fill="currentColor"/>
        </svg>
    {% when 'quote' %}
        <svg
            class="{{- class -}}"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M3.4002 13.3C2.33353 13.3 1.5002 12.9333 0.900195 12.2C0.300195 11.4333 0.000195421 10.3 0.000195421 8.8C0.000195421 7.23333 0.350195 5.73333 1.0502 4.3C1.78353 2.86667 2.81686 1.45 4.1502 0.0499998C4.18353 0.0166649 4.23353 -2.5034e-06 4.3002 -2.5034e-06C4.4002 -2.5034e-06 4.46686 0.0499978 4.5002 0.149999C4.56686 0.216664 4.58353 0.299998 4.5502 0.399998C3.7502 1.46667 3.2002 2.5 2.9002 3.5C2.63353 4.46667 2.5002 5.55 2.5002 6.75C2.5002 7.65 2.61686 8.35 2.8502 8.85C3.08353 9.35 3.4002 9.8 3.8002 10.2L1.9002 10.55C1.86686 9.98333 2.01686 9.55 2.3502 9.25C2.71686 8.95 3.18353 8.8 3.7502 8.8C4.4502 8.8 4.98353 9 5.3502 9.4C5.7502 9.8 5.9502 10.35 5.9502 11.05C5.9502 11.7833 5.71686 12.35 5.2502 12.75C4.81686 13.1167 4.2002 13.3 3.4002 13.3ZM11.1002 13.3C10.0335 13.3 9.2002 12.9333 8.6002 12.2C8.03353 11.4333 7.7502 10.3 7.7502 8.8C7.7502 7.2 8.1002 5.68333 8.8002 4.25C9.5002 2.81666 10.5335 1.41666 11.9002 0.0499998C11.9335 0.0166649 11.9835 -2.5034e-06 12.0502 -2.5034e-06C12.1502 -2.5034e-06 12.2169 0.0499978 12.2502 0.149999C12.3169 0.216664 12.3335 0.299998 12.3002 0.399998C11.5002 1.46667 10.9502 2.5 10.6502 3.5C10.3835 4.46667 10.2502 5.55 10.2502 6.75C10.2502 7.65 10.3502 8.36667 10.5502 8.9C10.7835 9.4 11.1002 9.83333 11.5002 10.2L9.6502 10.55C9.61686 9.98333 9.76686 9.55 10.1002 9.25C10.4335 8.95 10.9002 8.8 11.5002 8.8C12.2002 8.8 12.7335 9 13.1002 9.4C13.5002 9.8 13.7002 10.35 13.7002 11.05C13.7002 11.7833 13.4669 12.35 13.0002 12.75C12.5669 13.1167 11.9335 13.3 11.1002 13.3Z" fill="currentColor"/>
        </svg>

    {% else %}

{% endcase %}
