{% liquid
    assign s = section.settings
    assign section_id = 'section-' | append: section.id
%}
{%- liquid
    assign article_is_restricted = false
    if article.metafields.custom.premium_club_exclusive.value == true
        assign article_is_restricted = true
        if customer and customer.tags contains 'premium-club'
            assign article_is_restricted = false
        endif
    endif
-%}
{%- if article_is_restricted -%}
    <script>window.location.href = "{{ blog.url }}";</script>
{%- else -%}
    <div
        id="{{ section_id }}"
        class="{{ s.mobile_margin }} {{ s.desktop_margin }} bg-background text-primary"
    >
        {% render 'section-colors', current_section: section %}
        <div class="container {{ s.mobile_padding }} {{ s.desktop_padding }} article-content">
            {{ article.content }}
        </div>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "Main Article",
    "settings": [
        {
            "type": "header",
            "content": "Section Styling"
        },
        {
            "type": "checkbox",
            "id": "section_styling",
            "label": "Add styling to section",
            "info": "If enabled this shows the settings to set the color scheme, spacing, and margin for the section.",
            "default": false
        },
        {
            "type": "header",
            "content": "Section Spacing",
            "visible_if": "{{ section.settings.section_styling == true }}"
        },
        {
            "type": "select",
            "id": "mobile_padding",
            "label": "Mobile padding",
            "visible_if": "{{ section.settings.section_styling == true }}",
            "options": [
                {
                    "value": "py-0",
                    "label": "None"
                },
                {
                    "value": "py-2",
                    "label": "S - 8px"
                },
                {
                    "value": "py-4",
                    "label": "M - 16px"
                },
                {
                    "value": "py-6",
                    "label": "L - 24px"
                },
                {
                    "value": "py-8",
                    "label": "XL - 32px"
                },
                {
                    "value": "py-10",
                    "label": "2XL - 40px"
                },
                {
                    "value": "py-12",
                    "label": "3XL - 48px"
                },
                {
                    "value": "py-16",
                    "label": "4XL - 64px"
                }
            ],
            "default": "py-0"
        },
        {
            "type": "select",
            "id": "desktop_padding",
            "label": "Desktop padding",
            "visible_if": "{{ section.settings.section_styling == true }}",
            "options": [
                {
                    "value": "lg:py-0",
                    "label": "None"
                },
                {
                    "value": "lg:py-2",
                    "label": "S - 8px"
                },
                {
                    "value": "lg:py-4",
                    "label": "M - 16px"
                },
                {
                    "value": "lg:py-6",
                    "label": "L - 24px"
                },
                {
                    "value": "lg:py-8",
                    "label": "XL - 32px"
                },
                {
                    "value": "lg:py-10",
                    "label": "2XL - 40px"
                },
                {
                    "value": "lg:py-12",
                    "label": "3XL - 48px"
                },
                {
                    "value": "lg:py-16",
                    "label": "4XL - 64px"
                }
            ],
            "default": "lg:py-0"
        },
        {
            "type": "header",
            "content": "Section Margin",
            "visible_if": "{{ section.settings.section_styling == true }}"
        },

        {
            "type": "header",
            "content": "Colors",
            "visible_if": "{{ section.settings.section_styling == true }}"
        },
        {
            "type": "color",
            "id": "background",
            "label": "Section background color",
            "default": "#FFFFFF",
            "visible_if": "{{ section.settings.section_styling == true }}"
        },
        {
            "type": "color",
            "id": "primary_text_color",
            "label": "Primary text color",
            "default": "#000000",
            "visible_if": "{{ section.settings.section_styling == true }}"
        }
    ],
    "blocks": []
}
{% endschema %}
